/*/////////////////////////////////////////////////////////////////////
 // 
 // Custom theme code styles
 // Written by Themelize.me (http://themelize.me)
 // 
 // This is an empty starter template for overriding styles
 // set by Bootstrap & the theme
 // 
 // ----------------------------------------------------
 // 
 // Remove unused code for better performances
 // 
 // ----------------------------------------------------
 // 
 // @see - Usefuls tools online for editing
 // 1. http://charliepark.org/bootstrap_buttons/ - Button style generator
 // 2. http://www.colorzilla.com/gradient-editor/ - CSS3 gradient maker
 // 
 // @note
 // To ensure custom styles are picked up
 // wrap definitions in body tag
 // ie.
 // body .navbar-inner {
 //   background: #ff0000;
 // }
 // 
 /////////////////////////////////////////////////////////////////////*/
/*
 * --------------------------------------------------
 * 1. General Elements
 *--------------------------------------------------
 */
#navigation {
  /* 1. Navigation wrapper */
}
#highlighted {
  /* 2. Highlighted (below header) wrapper */
}
#content {
  /* 3. Content wrapper */
}
#content-below {
  /* 4. Content Below wrapper */
}
#footer {
  /* 5. Footer wrapper */
  background:#ccc;
  color:#333;
}

#footer a {
color: #193F70;
}

#footer a:hover {
color: #144A84;
}

hr {

border-top: 2px solid #ccc;
}

.img-responsive.blog-image {
	width:100%!important;
}
.navbar-btn {
margin-left: 0;
}

/*
 * --------------------------------------------------
 * 2. Colours
 *-------------------------------------------------- 
 */
/*
 * --------------------------------------------------
 * 3. Responsiveness/media queries
 *--------------------------------------------------
 */
/* Extra small devices (phones, less than 768px) */
/* No media query since this is the default in Bootstrap */
@media (min-width: 768px) {
  /* Small devices (tablets, 768px and up) */
}
@media (min-width: 992px) {
  /* Medium devices (desktops, 992px and up) */
}
@media (min-width: 1200px) {
  /* Large devices (large desktops, 1200px and up) */
}
/*


 * --------------------------------------------------
 * 4. Custom typography
 *-------------------------------------------------- */

h2 {
font-size:18px;
font-weight: 600;
line-height: 1.1;
text-transform: uppercase;
}
a, a:hover {
	text-decoration: none!important;
}

h4 {
font-size: 1.1em;
color: #98002E;
text-transform: uppercase;
}

h4 span {
text-transform: none;
}

h5 {
font-size: 1em;
color: #333;
text-transform: none;
}

.block .title {
font-size: 16px;}


.section-menu ul.nav-list li a {
  padding: 8px 25px 8px 15px;
}
.section-menu ul.nav-list li a small {
  color: rgba(27,27,27,0.7);
}

.nav>li.dropdown>a {
  color: #999;
}

@media (min-width: 992px) {
.navbar-nav>li>a:hover, #main-menu>li>a:hover, .navbar-nav>li.active>a, #main-menu>li.active>a {
color: #BABABA;
}
}

@media (max-width: 992px) {
.pull-left.logo-box {
  width: 80%;
}

}

/* --------------------------------------------------
 * 5. Video embed
 *-------------------------------------------------- */

.video-container {
  width: 100%;
  overflow: hidden;
}

#hero-video {
  width: 100%;
}


/* --------------------------------------------------
 * 6. Custom layout
 *-------------------------------------------------- */

.header .navbar-collapse {
  float: left;
}

#navigation .slogan { 
margin: 10px 0 10px .5em;
color: #193F70; }


@media (min-width: 768px) {
#navigation .slogan {
margin: 10px 0 0 1em;
}
}

.pull-left.logo-box {
margin-bottom:20px;	
}



/* --------------------------------------------------
 * 7. Miscellaneous
 *-------------------------------------------------- */

.title-divider.home {
text-align: center;
margin-bottom:1.5em;
}

.title-divider {
background: none;
padding: 0;
color: #193F70;
margin-bottom: .5em;
}


/* --------------------------------------------------
 * 8. Process carousel
 *-------------------------------------------------- */

.owl-stage-outer {
  margin-left: 4em;
}


@media (max-width: 992px) {

.owl-carousel .owl-wrapper-outer {
padding-left:0!important;	
padding:0;
margin:0;		
}

#navigation .slogan {
margin: 8px 0 1em 0;
padding: 0;
border-left: none;
float: left;
}

}

@media (min-width: 992px) {


}

.tp-caption {
white-space: inherit;
}

.owl-carousel.owl-theme.owl-loaded {
padding-left: 5em;
}

.customNextBtn {
content: '\f105';
font-family: 'FontAwesome';
font-size: 32px;
font-weight: normal;
color: #999999;
text-align: center;
display: inline;
padding: 0;
margin: 0;
clear: none;
position: absolute;
top: 2em;
left: 7em;
}

.owl-item a .img-responsive {
display: inline;
}

.owl-wrapper .owl-item .img-responsive {
margin-left: 30px;
}

.process-step {
	
	width: 9.5em;
}

.owl-theme .owl-controls {
display:none;	
}

/* process carousel - mobile styles */
@media (max-width: 992px) {

.owl-carousel.owl-theme.owl-loaded {
padding-left: 0; 
}

.process-step {
width: 11.5em;
padding-right: 3em;
}

.customNextBtn {
content: '\f105';
font-family: 'FontAwesome';
font-size: 26px;
font-weight: normal;
color: #999999;
text-align: center;
display: inline;
padding: 0;
margin: 0;
clear: none;
position: absolute;
top: 2em;
left: 5.8em;
}

}


@media (max-width: 481px) {
	.customNextBtn {
font-size: 22px;
top: 2em;
left: 6.3em;
}
}
	
}

/* --------------------------------------------------
 * 9. Features
 *-------------------------------------------------- */


.features h3, h3 {
color: #049289;	
text-transform: uppercase;
font-size:18px;
}

.features .feature img, .features .feature img:hover {
background-image: none;
filter: none;
border:none;
-webkit-border-radius: 0px;
-moz-border-radius: 0px;
border-radius: 0px;
}

.features .feature img {
	margin-bottom:1em;
}

.features .feature {
text-align: center;
}

.features .feature:first-child img, .features .feature:first-child img:hover {
background-image: none;
filter: none;
border:none;
border-left: none;
-webkit-border-radius: 0px;
-moz-border-radius: 0px;
border-radius: 0px;
}

.title-divider span span {
text-transform:none;
padding-right: 0em;
}

@media (min-width: 992px) {
.block.features {
margin-bottom:1em;	
}

.space-below {
margin-bottom: 1em;	
}

.features .feature p {
padding: 0 15px;
}


.features .feature.col-sm-6.col-md-3 {
	border-left: 2px solid #e6e6e6;	
	
}
.features .feature.col-sm-6.col-md-3:first-child {
	border-left: none;		
}

}

@media (min-width: 768px) {
.features .feature {
margin-bottom: 1.5em;
text-align: center;
}

.features .feature.col-sm-6.col-md-3 {
	padding-right: 0px;	
	padding-left: 0px;	
	
}
}

/* --------------------------------------------------
 * 10. Blog
 *-------------------------------------------------- */

.blog-grid .blog-post, .focus-box {
border: 1px solid #e6e6e6;
border-bottom: 3px solid #A29A84;

}

blockquote.blockquote-plain {
border-left: 2px solid #A29A84;
padding: 0 1em;
margin: 1.5em 0;
}

.blog-post .btn-link, .sections .tag, .tags .tag {
color: #193F70;
}

.btn-link:active, .btn-link:focus, .btn-link:hover, .sections .tag:hover, .tags .tag:hover {
color: #47658D;
}
.branding-twitter:hover {
color: #47658D;
}
.blog-roll .title, .blog-post .title {
margin: 0 0 20px 0;
display: inline;
}

.post-heading {
margin: 0 0 10px 0;	
}

.blog-list {
	line-height: 30px;
}

.fa {
vertical-align: inherit;
}

.sections, .tags {
margin-bottom: .3em;
}

.blog-roll .media, .blog-post .media, .blog-roll .blog-post, .blog-post .blog-post {
padding-bottom: 1em;
margin-bottom: 2em;
}

/* --------------------------------------------------
 * 11. Footer
 *-------------------------------------------------- */
#footer h3 {
margin-bottom: 1em;	
color: #333;
}

#footer .navbar-brand {
padding: 15px 5px;
}
.strat-dat {
float: left;
height: 50px;
padding: 16px 0px;
font-size: 15px;
line-height: 20px;
}

#footer a {
font-weight:bold;
}



#footer .footer-menu {
}


#footer .footer-menu {
float: left !important;
margin:.5em 0 0 .2em;
}

@media (min-width: 992px) {
#footer .footer-menu {
float: right !important;
margin-top:0;
}

}

/* --------------------------------------------------
 * 12. Buttons
 *-------------------------------------------------- */
.btn-lg, .btn-group-lg > .btn, .btn-md, .btn-group-md > .btn {
border-radius: 4px;
font-weight:bold;
}
.btn-primary {
color: #ffffff;
background-color: #193F70;
border-color: #0a5c7e;
}

.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open .dropdown-toggle.btn-primary {
color: #ffffff;
background-color: #144A84;
border-color: #044a68;
}

.btn-info {
color: #333333;
background-color: #ffffff;
border-color: #333333;
}

.btn-info:hover, .btn-info:focus, .btn-info:active, .btn-info.active, .open .dropdown-toggle.btn-info {
color: #333;
background-color: #ccc;
border-color: #ccc;
}


/* --------------------------------------------------
 * 13. Mobile menu
 *-------------------------------------------------- */

#jPanelMenu-menu .navbar-nav>li>a:hover, #jPanelMenu-menu .navbar-nav>li.active>a {
  background: #193F70;
  color: #fff;
}
.navbar-btn, .navbar-btn:hover, .navbar-btn:focus  {
  background: #193F70;
  color:#ffffff;} 

#jPanelMenu-menu {
background-color: #77716A;
}

#jPanelMenu-menu .navbar-nav li.home-link a i, #jPanelMenu-menu #main-menu li.home-link a i, #jPanelMenu-menu .navbar-nav li.home-link a:link i, #jPanelMenu-menu #main-menu li.home-link a:link i, #jPanelMenu-menu .navbar-nav li.home-link a:focus i, #jPanelMenu-menu #main-menu li.home-link a:focus i {
margin: 0;
display: block;
text-align: center;
color: rgba(255,255,255,0.6);
font-size: 25px;
padding: 16px 20px;
}

#jPanelMenu-menu a:focus {
color: rgba(255,255,255,0.6);
}

#jPanelMenu-menu a {
font-weight:bold;
}

#jPanelMenu-menu .navbar-nav>li {
border-top: 1px solid rgba(255,255,255,0.1);
border-bottom: 1px solid rgba(255,255,255,0.1);
}
.navbar-nav>li.open>.dropdown-toggle, #main-menu>li.open>.dropdown-toggle, .navbar-nav>li.open.active>.dropdown-toggle, #main-menu>li.open.active>.dropdown-toggle {
background: #1A4E87;
color: #fff;
}
@media (max-width: 768px) {
  /* Small devices (tablets, max 768px) */
  .tp-caption.sfb.ltl {	
  }
    .tp-caption.customin.randomrotateout.start {
font-size: 12px!important;
line-height: 18px!important;
margin: 5px 0 35px 0!important;
text-align: center;
right: 29.390625px;
  }
  
  h4.tp-caption.customin.randomrotateout.start {
	margin-top: -2px!important;
  }
  
 .tp-caption.customin.randomrotateout.btn.btn-md.btn-primary.start {
	  margin-top: 20px!important;
  }
  
}