@charset "UTF-8";
/*------------------
    Owl Carousel CSS
-----------------------------------------------------------------*/
.owl-carousel .animated {
  -webkit-animation-duration: 1000ms;
  animation-duration: 1000ms;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both; }

.owl-carousel .owl-animated-in {
  z-index: 0; }

.owl-carousel .owl-animated-out {
  z-index: 1; }

.owl-carousel .fadeOut {
  -webkit-animation-name: fadeOut;
  animation-name: fadeOut; }

@-webkit-keyframes fadeOut {
  0% {
    opacity: 1; }
  100% {
    opacity: 0; } }
@keyframes fadeOut {
  0% {
    opacity: 1; }
  100% {
    opacity: 0; } }
.owl-height {
  -webkit-transition: height 500ms ease-in-out;
  -o-transition: height 500ms ease-in-out;
  transition: height 500ms ease-in-out; }

.owl-carousel {
  display: none;
  -webkit-tap-highlight-color: transparent;
  position: relative;
  z-index: 1;
  -webkit-backface-visibility: hidden; }

.owl-carousel .owl-stage {
  position: relative;
  -ms-touch-action: pan-Y; }

.owl-carousel .owl-stage:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0; }

.owl-carousel .owl-stage-outer {
  position: relative;
  overflow: hidden;
  -webkit-transform: translate3d(0px, 0, 0);
  cursor: move;
  cursor: -webkit-grab;
  cursor: -o-grab;
  cursor: -ms-grab;
  cursor: grab; }

.owl-carousel .owl-controls .owl-dot,
.owl-carousel .owl-controls .owl-nav .owl-next,
.owl-carousel .owl-controls .owl-nav .owl-prev {
  cursor: pointer;
  cursor: hand;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }

.owl-carousel.owl-loaded {
  display: block; }

.owl-carousel.owl-loading {
  display: block;
  min-height: 100px;
  background: url("/img/preloader.gif") no-repeat center center; }

.owl-carousel.owl-hidden {
  opacity: 0; }

.owl-carousel .owl-refresh .owl-item {
  display: none; }

.owl-carousel .owl-item {
  position: relative;
  min-height: 1px;
  float: left;
  -webkit-backface-visibility: hidden;
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }

.owl-carousel .owl-item img {
  display: block;
  width: 100%;
  -webkit-transform-style: preserve-3d; }

#slider .owl-carousel .owl-item img {
  -webkit-backface-visibility: hidden; }

.owl-carousel.owl-text-select-on .owl-item {
  -webkit-user-select: auto;
  -moz-user-select: auto;
  -ms-user-select: auto;
  user-select: auto; }

.owl-carousel .owl-grab {
  cursor: move;
  cursor: -webkit-grab;
  cursor: -o-grab;
  cursor: -ms-grab;
  cursor: grab; }

.owl-carousel.owl-rtl {
  direction: rtl; }

.owl-carousel.owl-rtl .owl-item {
  float: right; }

.no-js .owl-carousel {
  display: block; }

.owl-carousel .owl-item .owl-lazy {
  opacity: 0;
  -webkit-transition: opacity 400ms ease;
  -o-transition: opacity 400ms ease;
  transition: opacity 400ms ease; }

.owl-carousel .owl-item img {
  transform-style: preserve-3d; }

.owl-carousel .owl-video-wrapper {
  position: relative;
  height: 100%;
  background: #111; }

.owl-carousel .owl-video-play-icon {
  position: absolute;
  height: 64px;
  width: 64px;
  left: 50%;
  top: 50%;
  margin-left: -32px;
  margin-top: -32px;
  background: url("images/icons/play.png") no-repeat;
  cursor: pointer;
  z-index: 1;
  -webkit-backface-visibility: hidden;
  -webkit-transition: scale 100ms ease;
  -o-transition: scale 100ms ease;
  transition: scale 100ms ease; }

.owl-carousel .owl-video-play-icon:hover {
  -webkit-transition: scale(1.3, 1.3);
  -o-transition: scale(1.3, 1.3);
  transition: scale(1.3, 1.3); }

.owl-carousel .owl-video-playing .owl-video-play-icon,
.owl-carousel .owl-video-playing .owl-video-tn {
  display: none; }

.owl-carousel .owl-video-tn {
  opacity: 0;
  height: 100%;
  background-position: center center;
  background-repeat: no-repeat;
  -webkit-background-size: contain;
  -moz-background-size: contain;
  -o-background-size: contain;
  background-size: contain;
  -webkit-transition: opacity 400ms ease;
  -o-transition: opacity 400ms ease;
  transition: opacity 400ms ease; }

.owl-carousel .owl-video-frame {
  position: relative;
  z-index: 1; }

/* Owl Carousel - Controls
-----------------------------------------------------------------*/
.owl-theme .owl-controls {
  text-align: center;
  -webkit-tap-highlight-color: transparent; }

/* Owl Carousel - Controls - Arrows
-----------------------------------------------------------------*/
.owl-theme .owl-controls .owl-nav [class*=owl-] {
  position: absolute;
  top: 50%;
  margin-top: -18px;
  left: -36px;
  zoom: 1;
  width: 36px;
  height: 36px;
  line-height: 32px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  color: #666;
  background-color: #FFF;
  font-size: 18px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  opacity: 0;
  -webkit-transition: all .3s ease;
  -o-transition: all .3s ease;
  transition: all .3s ease; }

.owl-theme .owl-controls.with-carousel-dots .owl-nav [class*=owl-] {
  margin-top: -39px; }

.owl-theme.owl-carousel-full .owl-controls .owl-nav [class*=owl-] {
  margin-top: -30px;
  left: 0 !important;
  height: 60px;
  line-height: 60px;
  border: none;
  color: #EEE;
  background-color: rgba(0, 0, 0, 0.4);
  font-size: 28px;
  -webkit-border-radius: 0 3px 3px 0;
  -moz-border-radius: 0 3px 3px 0;
  border-radius: 0 3px 3px 0; }

.owl-theme.owl-carousel-full .owl-controls.with-carousel-dots .owl-nav [class*=owl-] {
  margin-top: -46px; }

.owl-theme .owl-controls .owl-nav .owl-next {
  left: auto;
  right: -36px; }

.owl-theme.owl-carousel-full .owl-controls .owl-nav .owl-next {
  left: auto !important;
  right: 0 !important;
  -webkit-border-radius: 3px 0 0 3px;
  -moz-border-radius: 3px 0 0 3px;
  border-radius: 3px 0 0 3px; }

.owl-theme:hover .owl-controls .owl-nav [class*=owl-] {
  opacity: 1;
  left: -18px; }

.owl-theme:hover .owl-controls .owl-nav .owl-next {
  left: auto;
  right: -18px; }

.owl-theme .owl-controls .owl-nav [class*=owl-]:hover {
  background-color: #005480 !important;
  color: #FFF !important;
  text-decoration: none; }

.owl-theme .owl-controls .owl-nav .disabled {
  display: none !important; }

/* Owl Carousel - Controls - Dots
-----------------------------------------------------------------*/
.owl-theme .owl-dots .owl-dot {
  display: inline-block;
  zoom: 1;
  margin-top: 30px;
  *display: inline; }

.owl-theme .owl-dots .owl-dot span {
  display: block;
  width: 8px;
  height: 8px;
  margin: 0 4px;
  opacity: 0.5;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  background-color: #005480;
  -webkit-transition: all .3s ease;
  -o-transition: all .3s ease;
  transition: all .3s ease; }

.owl-theme .owl-dots .owl-dot.active span,
.owl-theme .owl-dots .owl-dot:hover span {
  opacity: 1; }

/* Shades */
/* Colours */
/* Typography */
/* Default Styling */
body,
html {
  font-family: "Open Sans", Arial, serif;
  color: #333333;
  font-size: 14px;
  line-height: 1.42857143; }

h2 {
  font-size: 1.4em;
  font-weight: 600;
  line-height: 1.1;
  text-transform: uppercase; }
  h2 span {
    color: #A29A84; }

h3 {
  color: #333333;
  font-size: 24.5px; }

h4 {
  font-size: 1.1em;
  line-height: 1;
  text-transform: uppercase;
  font-weight: bold;
  color: #98002E; }

h5 {
  font-size: 1em;
  font-weight: bold; }

p {
  color: #333333;
  font-size: 1em;
  margin-bottom: 15px; }

ul, ol {
  color: #333333; }

a {
  color: #005480;
  text-decoration: none !important; }
  a:hover, a:focus {
    color: #00111a;
    text-decoration: none !important; }

h2, strong {
  color: rgba(27, 27, 27, 0.7); }

#content {
  padding: 30px 0;
  overflow: hidden;
  width: 100%; }

.container {
  padding: 0 15px;
  margin: 0 auto;
  width: 80%; }
  @media (max-width: 500px) {
    .container {
      width: 100%; } }
  @media (min-width: 768px) {
    .container {
      max-width: 750px; } }
  @media (min-width: 1020px) {
    .container {
      max-width: 970px; } }
  @media (min-width: 1200px) {
    .container {
      max-width: 1170px; } }

@media (max-width: 1020px), (min-device-width: 250px) and (max-device-width: 1020px) {
  .row {
    margin: 0; } }

.title-divider {
  color: #005480 !important;
  text-align: left;
  margin: 1em 0; }
  .title-divider span {
    font-weight: normal; }

.margin-top-large {
  margin-top: 2.5em; }

#page-title {
  position: relative;
  padding: 50px 0;
  background-color: #F5F5F5;
  border-bottom: 1px solid #E6E6E6; }
  #page-title h1 {
    padding: 0;
    margin: 0;
    line-height: 1;
    font-weight: bold;
    letter-spacing: 1px;
    color: #333333;
    font-size: 28px;
    text-transform: uppercase; }
  @media (max-width: 1020px), (min-device-width: 250px) and (max-device-width: 1020px) {
    #page-title {
      text-align: center; } }

.btn-primary {
  background-color: #005480;
  color: #FFFFFF;
  border-color: #193F70;
  font-weight: bold; }
  .btn-primary:hover, .btn-primary:focus {
    background-color: #333333; }

.left {
  float: left; }

.right {
  float: right; }

ul {
  padding-left: 40px; }

blockquote {
  padding: 10px 20px;
  margin: 0 0 20px;
  font-size: 17.5px;
  border-left: 5px solid #E6E6E6; }
  blockquote p {
    font-weight: normal;
    font-style: italic;
    margin-bottom: 15px;
    font-family: "Crete Round", serif; }
  blockquote footer {
    display: block;
    font-size: 80%;
    line-height: 1.42857;
    color: #777777; }

/* Blue and white circles on home and contact page */
.feature-box {
  padding: 0;
  text-align: center;
  position: relative;
  border-bottom: none; }
  .feature-box:first-child {
    margin-top: 0; }
  .feature-box .fbox-icon {
    position: relative;
    width: 96px;
    height: 96px;
    margin: 0 auto 30px;
    display: block;
    text-align: center; }
    .feature-box .fbox-icon a, .feature-box .fbox-icon i {
      display: block;
      position: relative;
      width: 100%;
      height: 100%;
      color: #FFFFFF; }
    .feature-box .fbox-icon i {
      line-height: 94px;
      font-size: 42px;
      z-index: 1;
      font-style: normal;
      text-align: center;
      background-color: #005480;
      background-image: url("/img/iconalt.svg");
      background-position: center center;
      background-size: 100% 100%;
      -webkit-border-radius: 58px;
      -moz-border-radius: 58px;
      border-radius: 58px;
      border: none; }
  .feature-box h3 {
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 1px;
    margin-bottom: 0;
    color: #333333; }
    .feature-box h3 span.subtitle {
      display: block;
      margin-top: 5px;
      color: #4d4d4d;
      font-weight: 300;
      text-transform: none; }

/* Animation on hover and focus */
.fbox-effect:hover .fbox-icon i {
  background-color: #333333;
  color: #FFFFFF; }
  .fbox-effect:hover .fbox-icon i::after {
    -webkit-transform: scale(ratio);
    -moz-transform: scale(ratio);
    -ms-transform: scale(ratio);
    transform: scale(ratio);
    opacity: 1; }
.fbox-effect .fbox-icon i {
  z-index: 1; }
  .fbox-effect .fbox-icon i::after {
    pointer-events: none;
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-border-radius: 58px;
    -moz-border-radius: 58px;
    border-radius: 58px;
    content: '';
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    top: -3px;
    left: -3px;
    padding: 3px;
    box-shadow: 0 0 0 2px #333333;
    -webkit-transform: scale(ratio);
    -moz-transform: scale(ratio);
    -ms-transform: scale(ratio);
    transform: scale(ratio);
    -webkit-transition: -webkit-transform 0.3s, opacity 0.3s;
    -moz-transition: -moz-transform 0.3s, opacity 0.3s;
    -o-transition: -o-transform 0.3s, opacity 0.3s;
    transition: transform 0.3s, opacity 0.3s;
    opacity: 0; }
  .fbox-effect .fbox-icon i:hover {
    background-color: #333333;
    color: #FFFFFF; }
    .fbox-effect .fbox-icon i:hover::after {
      -webkit-transform: scale(ratio);
      -moz-transform: scale(ratio);
      -ms-transform: scale(ratio);
      transform: scale(ratio);
      opacity: 1; }

.fbox-effect .fbox-icon a:focus i {
  background-color: #333333;
  color: #FFFFFF; }
  .fbox-effect .fbox-icon a:focus i::after {
    -webkit-transform: scale(ratio);
    -moz-transform: scale(ratio);
    -ms-transform: scale(ratio);
    transform: scale(ratio);
    opacity: 1; }

/* Backup icons for <= IE8 */

.home_page #home-video {
  background-image: url("/img/sd-poster.jpg")\9;
}

.feature-box .fbox-icon i {
  display: none\9;
}

.customNextBtn i {
  display: none\9;
}

.customNextBtn {
  background-image: url("/img/icons/arrow.png")\9;
}

.fbox-icon.talk {
  background-image: url("/img/icons/talk.png")\9;
}

.fbox-icon.question {
  background-image: url("/img/icons/question.png")\9;
}

.fbox-icon.lock {
  background-image: url("/img/icons/lock.png")\9;
}

.fbox-icon.cogs {
  background-image: url("/img/icons/cogs.png")\9;
}

.fbox-icon.bulb {
  background-image: url("/img/icons/bulb.png")\9;
}

.fbox-icon.phone {
  background-image: url("/img/icons/phone.png")\9;
}

.fbox-icon.send {
  background-image: url("/img/icons/send.png")\9;
}

.fbox-icon.envelope {
  background-image: url("/img/icons/envelope.png")\9;
}

.fbox-icon.home {
  background-image: url("/img/icons/home.png")\9;
}

#footer {
  background-color: #CCCCCC;
  border-top: 2px solid #005480;
  min-height: 200px;
  padding: 30px 0;
  color: #333333; }
  #footer h3 {
    margin-bottom: 1em;
    color: #333333;
    font-size: 1.2em;
    line-height: 1;
    font-weight: 500; }
  #footer a {
    font-weight: bold;
    color: #005480; }
    #footer a:hover, #footer a:focus {
      color: #FFFFFF; }
  #footer .contact-block,
  #footer .newsletter {
    margin-bottom: 2em; }
    #footer .contact-block i,
    #footer .newsletter i {
      padding-right: 0.5em; }
  #footer #toplink {
    text-align: center; }
    #footer #toplink a i::before {
      color: #005480; }
    @media (max-width: 500px) {
      #footer #toplink {
        margin-bottom: .5em; } }
  #footer .subfooter {
    width: 100%;
    height: 50px; }
    @media (min-width: 1020px) {
      #footer .subfooter {
        height: 25px; } }
    #footer .subfooter .copyright {
      float: none; }
      @media (min-width: 1020px) {
        #footer .subfooter .copyright {
          float: left;
          margin: .5em 0 0 .2em; } }
    #footer .subfooter .footer-menu {
      margin-top: 1em;
      float: none; }
      @media (min-width: 1020px) {
        #footer .subfooter .footer-menu {
          float: right;
          margin: .5em 0 0 .2em; } }
      #footer .subfooter .footer-menu li {
        padding: 0 3px; }

.footer-blog .si-share {
  position: relative;
  padding-left: 5px; }
  .footer-blog .si-share span {
    line-height: 36px;
    font-weight: bold;
    font-size: 13px; }
  .footer-blog .si-share div {
    float: right; }
  .footer-blog .si-share .social-icon {
    transition: all .3s ease;
    margin: -1px 0;
    border-radius: 0;
    font-size: 15px;
    width: 40px;
    height: 40px;
    line-height: 38px;
    color: #777777;
    overflow: hidden;
    display: block;
    float: left;
    text-align: center;
    cursor: pointer;
    font-style: normal; }
    .footer-blog .si-share .social-icon:hover, .footer-blog .si-share .social-icon:focus {
      color: #FFFFFF; }
      .footer-blog .si-share .social-icon:hover i:first-child, .footer-blog .si-share .social-icon:focus i:first-child {
        margin-top: -38px; }
    .footer-blog .si-share .social-icon.si-facebook:hover, .footer-blog .si-share .social-icon.si-facebook:focus {
      background-color: #3B5998; }
    .footer-blog .si-share .social-icon.si-twitter:hover, .footer-blog .si-share .social-icon.si-twitter:focus {
      background-color: #00ACEE; }
    .footer-blog .si-share .social-icon.si-gplus:hover, .footer-blog .si-share .social-icon.si-gplus:focus {
      background-color: #DD4B39; }
    .footer-blog .si-share .social-icon.si-rss:hover, .footer-blog .si-share .social-icon.si-rss:focus {
      background-color: #EE802F; }
    .footer-blog .si-share .social-icon i {
      transition: all .3s ease;
      display: block;
      position: relative; }
      .footer-blog .si-share .social-icon i:last-child {
        color: #FFFFFF; }
.footer-blog .line {
  margin: 40px 0 50px;
  position: relative;
  width: 100%;
  border-top: 1px solid #CCCCCC; }
.footer-blog .author-image {
  float: left;
  width: 84px;
  height: 84px;
  margin-right: 15px; }
.footer-blog .post-navigation a:first-child:before {
  font-family: "FontAwesome";
  content: ""; }
.footer-blog .post-navigation a:last-child {
  float: right; }
  .footer-blog .post-navigation a:last-child:after {
    font-family: "FontAwesome";
    content: ""; }
.footer-blog .related-posts .mpost {
  position: relative;
  display: inline-block;
  width: 48%; }
  .footer-blog .related-posts .mpost:nth-child(even) {
    float: right; }
  .footer-blog .related-posts .mpost .entry-image {
    margin-right: 20px;
    width: 170px;
    height: 128px;
    float: left; }
  .footer-blog .related-posts .mpost .entry-title {
    font-size: 17px;
    margin-bottom: 5px; }
  .footer-blog .related-posts .mpost .entry-meta li {
    float: none; }
  .footer-blog .related-posts .mpost .entry-content {
    margin: 25px 0;
    position: relative; }

#header {
  border-bottom: #E6E6E6 1px solid;
  background-color: #FFFFFF;
  height: 100px;
  -webkit-transition: height 0.4s ease;
  -moz-transition: height 0.4s ease;
  -o-transition: height 0.4s ease;
  transition: height 0.4s ease;
  display: block; }
  #header.sticky-header {
    height: 60px; }
    #header.sticky-header #header-wrap {
      height: 60px;
      position: fixed;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); }
      #header.sticky-header #header-wrap #logo {
        height: 60px; }
        #header.sticky-header #header-wrap #logo a img {
          height: 60px; }
      #header.sticky-header #header-wrap nav#primary-menu ul {
        height: 60px; }
        #header.sticky-header #header-wrap nav#primary-menu ul li a {
          line-height: 60px;
          padding-left: 35px !important; }
        #header.sticky-header #header-wrap nav#primary-menu ul.show {
          background-color: #FFF;
          margin-left: -30px !important;
          margin-right: -30px !important; }
      #header.sticky-header #header-wrap #primary-menu-trigger {
        top: 5px; }
  #header #header-wrap {
    position: relative;
    height: auto;
    width: 100%;
    padding: 0 30px;
    -webkit-transition: height 0.4s ease;
    -moz-transition: height 0.4s ease;
    -o-transition: height 0.4s ease;
    transition: height 0.4s ease;
    z-index: 199;
    background-color: #FFF; }
    #header #header-wrap #logo {
      padding-right: 30px;
      margin-right: 0;
      border-right: 1px solid #E6E6E6;
      position: relative;
      float: left;
      -webkit-transition: height 0.4s ease;
      -moz-transition: height 0.4s ease;
      -o-transition: height 0.4s ease;
      transition: height 0.4s ease; }
      @media (max-width: 1020px), (min-device-width: 250px) and (max-device-width: 1020px) {
        #header #header-wrap #logo {
          float: none;
          display: block;
          height: 100px;
          margin: 0 auto 0;
          text-align: center;
          border-right: 0; } }
      #header #header-wrap #logo a {
        opacity: 1;
        display: block; }
        #header #header-wrap #logo a:focus, #header #header-wrap #logo a:hover {
          opacity: 0.75; }
        #header #header-wrap #logo a img {
          height: 100px;
          -webkit-transition: height 0.4s ease;
          -moz-transition: height 0.4s ease;
          -o-transition: height 0.4s ease;
          transition: height 0.4s ease;
          max-width: 100%;
          display: inline-block; }

#pahe-title {
  padding: 50px 0;
  background-color: #F5F5F5;
  border-bottom: 1px solid #E6E6E6;
  position: relative; }
  #pahe-title h1 {
    padding: 0;
    margin: 0;
    line-height: 1;
    font-weight: bold;
    letter-spacing: 1px;
    color: #333333;
    font-size: 28px;
    text-transform: uppercase; }
  #pahe-title span {
    display: block;
    margin-top: 10px;
    font-weight: normal;
    color: #777777;
    font-size: 18px; }

/* Touch screen menu */
#primary-menu-trigger {
  color: #005480;
  font-size: 1.25em;
  position: absolute;
  top: 50%;
  margin-top: -25px;
  width: 50px;
  height: 50px;
  line-height: 50px;
  text-align: center;
  -webkit-transition: opacity 0.3s ease;
  -moz-transition: opacity 0.3s ease;
  -o-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease; }
  #primary-menu-trigger i::before {
    color: #005480; }
  @media (max-width: 1020px), (min-device-width: 250px) and (max-device-width: 1020px) {
    #primary-menu-trigger {
      opacity: 1;
      pointer-events: auto;
      top: 25px;
      margin-top: 0;
      z-index: 1;
      cursor: pointer; } }
  @media (min-width: 1020px) {
    #primary-menu-trigger {
      opacity: 0; } }
  @media (max-width: 500px) {
    #primary-menu-trigger {
      left: 0; } }

nav#primary-menu {
  height: 100px;
  float: right;
  -webkit-transition: height 0.4s ease;
  -moz-transition: height 0.4s ease;
  -o-transition: height 0.4s ease;
  transition: height 0.4s ease;
  -webkit-transition: opacity 0.3s ease;
  -moz-transition: opacity 0.3s ease;
  -o-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease; }
  @media (max-width: 1020px), (min-device-width: 250px) and (max-device-width: 1020px) {
    nav#primary-menu {
      display: block;
      float: none;
      height: auto !important; } }
  nav#primary-menu ul {
    float: left;
    padding: 0 15px;
    margin-right: 15px;
    border-right: 1px solid #E6E6E6;
    list-style: none; }
    nav#primary-menu ul li {
      margin-left: 2px;
      position: relative;
      float: left; }
      nav#primary-menu ul li:first-child {
        margin-left: 0; }
      nav#primary-menu ul li a {
        display: block;
        height: 100px;
        line-height: 100px;
        padding: 0 15px;
        color: #333333;
        font-weight: bold;
        font-size: 13px;
        letter-spacing: 1px;
        text-transform: uppercase;
        font-family: "Raleway", sans-serif;
        -webkit-transition: height 0.4s ease;
        -moz-transition: height 0.4s ease;
        -o-transition: height 0.4s ease;
        transition: height 0.4s ease; }
        nav#primary-menu ul li a:hover, nav#primary-menu ul li a:focus {
          color: #005480; }
        @media (max-width: 1020px), (min-device-width: 250px) and (max-device-width: 1020px) {
          nav#primary-menu ul li a {
            height: 50px !important;
            line-height: 50px !important;
            padding: 0 5px !important;
            border: none !important;
            margin: 0 !important; } }
      @media (max-width: 1020px), (min-device-width: 250px) and (max-device-width: 1020px) {
        nav#primary-menu ul li {
          float: none;
          margin: 0 !important;
          text-align: left !important;
          border-top: 1px solid #F5F5F5; } }
    nav#primary-menu ul li.current a {
      color: #005480; }
    @media (max-width: 1020px), (min-device-width: 250px) and (max-device-width: 1020px) {
      nav#primary-menu ul {
        display: none;
        float: none !important;
        border: 0 !important;
        padding: 0 !important;
        margin: 0 !important;
        -webkit-transition: none;
        -o-transition: none;
        transition: none;
        height: auto !important; } }
  nav#primary-menu ul.show {
    display: inherit; }
  nav#primary-menu #top-search {
    float: right;
    margin: 40px 0 40px 15px;
    -webkit-transition: height 0.4s ease;
    -moz-transition: height 0.4s ease;
    -o-transition: height 0.4s ease;
    transition: height 0.4s ease;
    -webkit-transition: opacity 0.3s ease;
    -moz-transition: opacity 0.3s ease;
    -o-transition: opacity 0.3s ease;
    transition: opacity 0.3s ease; }
    @media (max-width: 1020px), (min-device-width: 250px) and (max-device-width: 1020px) {
      nav#primary-menu #top-search {
        margin: 0 !important; } }
    nav#primary-menu #top-search a {
      z-index: 11;
      position: relative;
      width: 14px;
      height: 14px;
      font-size: 14px;
      line-height: 20px;
      text-align: center;
      /*color: $primary-font-colour; hiding unil functional */
      color: #FFFFFF;
      cursor: default; }
      @media (max-width: 1020px), (min-device-width: 250px) and (max-device-width: 1020px) {
        nav#primary-menu #top-search a {
          position: absolute;
          top: 0;
          left: auto;
          right: 40px;
          margin: 40px 0;
          -webkit-transition: margin .4s ease;
          -o-transition: margin .4s ease;
          transition: margin .4s ease; } }
      nav#primary-menu #top-search a i {
        position: absolute;
        top: 0;
        left: 0;
        -webkit-transition: opacity 0.3s ease;
        -moz-transition: opacity 0.3s ease;
        -o-transition: opacity 0.3s ease;
        transition: opacity 0.3s ease; }
      nav#primary-menu #top-search a i.icon-line-cross {
        opacity: 0; }
    nav#primary-menu #top-search form {
      opacity: 0;
      z-index: -2;
      position: absolute;
      width: 100%;
      height: 100%;
      padding: 0 15px;
      margin: 0;
      top: 0;
      left: 0;
      -webkit-transition: opacity 0.3s ease;
      -moz-transition: opacity 0.3s ease;
      -o-transition: opacity 0.3s ease;
      transition: opacity 0.3s ease; }
      @media (max-width: 1020px), (min-device-width: 250px) and (max-device-width: 1020px) {
        nav#primary-menu #top-search form {
          height: 100px !important; } }
      nav#primary-menu #top-search form input {
        box-shadow: none;
        pointer-events: none;
        border-radius: 0;
        border: 0;
        outline: 0;
        font-size: 32px;
        padding: 10px 80px 10px 0;
        height: 100%;
        background-color: transparent;
        color: #333333;
        font-weight: 700;
        margin-top: 0;
        font-family: "Raleway", sans-serif;
        letter-spacing: 2px; }
        @media (max-width: 1020px), (min-device-width: 250px) and (max-device-width: 1020px) {
          nav#primary-menu #top-search form input {
            font-size: 24px;
            padding-right: 60px; } }

.sidebar {
  margin: 2em 0 1em 0; }
  @media (min-width: 1020px) {
    .sidebar {
      margin-top: 1.5em; } }
  @media (max-width: 1020px), (min-device-width: 250px) and (max-device-width: 1020px) {
    .sidebar {
      width: 100%;
      z-index: 5; } }
  .sidebar .section-menu ul.nav-list {
    padding: 2em 0;
    margin-left: 0; }
    @media (min-width: 1020px) {
      .sidebar .section-menu ul.nav-list {
        border-right: 1px solid #E6E6E6; } }
    .sidebar .section-menu ul.nav-list li a {
      color: rgba(27, 27, 27, 0.7);
      font-weight: bold;
      font-size: 18px;
      -webkit-border-radius: 0px;
      -moz-border-radius: 0px;
      border-radius: 0px;
      border: 1px solid #E6E6E6;
      border-top: none;
      margin: 0 -1px 0 3px;
      -webkit-box-shadow: 1px 1px 1px #FFFFFF;
      -moz-box-shadow: 1px 1px 1px #FFFFFF;
      box-shadow: 1px 1px 1px #FFFFFF;
      background: #F5F5F5;
      text-shadow: none;
      padding: 8px 15px;
      position: relative; }
      .sidebar .section-menu ul.nav-list li a:hover, .sidebar .section-menu ul.nav-list li a:focus {
        background: #E6E6E6; }
        .sidebar .section-menu ul.nav-list li a:hover i, .sidebar .section-menu ul.nav-list li a:focus i {
          color: #005480; }
      .sidebar .section-menu ul.nav-list li a i {
        font-size: 22px;
        position: absolute;
        top: 20px;
        right: 20px;
        color: #E6E6E6;
        -webkit-transform: rotate(90deg);
        -moz-transform: rotate(90deg);
        transform: rotate(90deg); }
        @media (min-width: 1020px) {
          .sidebar .section-menu ul.nav-list li a i {
            right: 10px;
            -webkit-transform: rotate(0deg);
            -moz-transform: rotate(0deg);
            transform: rotate(0deg); } }
      .sidebar .section-menu ul.nav-list li a small {
        display: block;
        font-weight: normal;
        color: rgba(27, 27, 27, 0.5); }
    .sidebar .section-menu ul.nav-list li a.first {
      border-top: 1px solid #E6E6E6; }
    .sidebar .section-menu ul.nav-list li.active > a {
      border-left: 4px solid #005480;
      color: #005480;
      margin: 0 -1px 0 0;
      background: #FFFFFF; }
      @media (min-width: 1020px) {
        .sidebar .section-menu ul.nav-list li.active > a {
          border-right-color: #FFFFFF; } }
      .sidebar .section-menu ul.nav-list li.active > a i {
        color: #005480; }

/* Tab styling */
.sidebar-blog {
  float: right;
  display: block;
  position: relative;
  width: 25%;
  margin-bottom: 0;
  margin-top: 1.5em;
  /* Tag styling */ }
  @media (max-width: 1020px), (min-device-width: 250px) and (max-device-width: 1020px) {
    .sidebar-blog {
      float: none;
      width: 100%; } }
  .sidebar-blog #sidebar-tabs {
    margin: 0 0 30px; }
    @media (max-width: 1020px), (min-device-width: 250px) and (max-device-width: 1020px) {
      .sidebar-blog #sidebar-tabs {
        float: left;
        width: 45%;
        margin-right: 3%; } }
    @media (max-width: 500px) {
      .sidebar-blog #sidebar-tabs {
        float: none;
        width: 100%; } }
    .sidebar-blog #sidebar-tabs .blog-tab-nav {
      margin: 0;
      padding: 0;
      list-style: none;
      border-bottom: 1px solid #E6E6E6; }
      .sidebar-blog #sidebar-tabs .blog-tab-nav::before, .sidebar-blog #sidebar-tabs .blog-tab-nav::after {
        content: " ";
        display: table;
        clear: both; }
      .sidebar-blog #sidebar-tabs .blog-tab-nav li:first-child {
        margin-left: 15px; }
      .sidebar-blog #sidebar-tabs .blog-tab-nav .tab-link {
        float: left;
        border: 1px solid #E6E6E6;
        border-bottom: 0;
        height: 40px;
        line-height: 40px;
        text-align: center;
        display: block;
        padding: 0 15px;
        background-color: #F5F5F5;
        color: #333333;
        font-size: 14px;
        font-weight: bold;
        cursor: pointer;
        margin-left: 0; }
        .sidebar-blog #sidebar-tabs .blog-tab-nav .tab-link:first-child {
          border-left: 1px solid #E6E6E6; }
        .sidebar-blog #sidebar-tabs .blog-tab-nav .tab-link.current {
          background-color: #FFFFFF;
          border-bottom: 1px solid #FFFFFF; }
    .sidebar-blog #sidebar-tabs .tab-container {
      position: relative;
      padding: 20px 0 0; }
      .sidebar-blog #sidebar-tabs .tab-container .tab-content {
        display: none;
        padding: 15px; }
        .sidebar-blog #sidebar-tabs .tab-container .tab-content.current {
          display: inherit; }
        .sidebar-blog #sidebar-tabs .tab-container .tab-content .spost {
          border-top: 1px dashed #E6E6E6;
          height: 48px;
          margin-top: 20px;
          padding-top: 20px; }
          .sidebar-blog #sidebar-tabs .tab-container .tab-content .spost:first-child {
            border-top: 0;
            margin-top: 0;
            padding-top: 0; }
          .sidebar-blog #sidebar-tabs .tab-container .tab-content .spost .entry-image {
            width: 48px;
            height: 48px;
            float: left;
            margin: 0 15px 0 0;
            text-align: center;
            display: block;
            position: relative; }
            .sidebar-blog #sidebar-tabs .tab-container .tab-content .spost .entry-image img {
              width: 48px;
              height: 48px; }
              .sidebar-blog #sidebar-tabs .tab-container .tab-content .spost .entry-image img.img-circle {
                border-radius: 50%; }
          .sidebar-blog #sidebar-tabs .tab-container .tab-content .spost .entry-title {
            margin: 0;
            font-size: 12px;
            font-weight: bold; }
            .sidebar-blog #sidebar-tabs .tab-container .tab-content .spost .entry-title a {
              color: #333333; }
          .sidebar-blog #sidebar-tabs .tab-container .tab-content .spost .entry-meta {
            margin: 8px -10px 0 0;
            list-style: none; }
            .sidebar-blog #sidebar-tabs .tab-container .tab-content .spost .entry-meta li {
              font-size: 12px;
              margin: 0 10px 0 0;
              float: left;
              line-height: 12px;
              color: #999999;
              font-style: italic; }
  .sidebar-blog .tags {
    position: relative;
    margin-top: 50px; }
    @media (max-width: 1020px), (min-device-width: 250px) and (max-device-width: 1020px) {
      .sidebar-blog .tags {
        display: inline-block;
        width: 45%; } }
    @media (max-width: 500px) {
      .sidebar-blog .tags {
        float: none;
        width: 100%; } }
    .sidebar-blog .tags .tagcloud a {
      -webkit-transition: all 0.3s ease-in-out;
      -moz-transition: all 0.3s ease-in-out;
      -o-transition: all 0.3s ease-in-out;
      transition: all 0.3s ease-in-out;
      display: block;
      float: left;
      margin: 0 4px 4px 0;
      padding: 3px 6px;
      border: 1px solid #E6E6E6;
      font-size: 13px;
      color: #333333;
      -webkit-border-radius: 2px;
      -moz-border-radius: 2px;
      border-radius: 2px; }
      .sidebar-blog .tags .tagcloud a:hover, .sidebar-blog .tags .tagcloud a:focus {
        color: #005480;
        border-color: #005480; }

/* Generic class styling for all blog pages */
.entry {
  position: relative;
  width: 100%;
  padding-bottom: 50px;
  margin-bottom: 50px;
  border-bottom: 2px solid #F5F5F5; }
  .entry .entry-image {
    margin-bottom: 30px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    display: block;
    width: 100%;
    height: auto; }
    @media (max-width: 500px) {
      .entry .entry-image iframe {
        width: 90%;
        height: 90%; } }
  .entry .entry-title {
    margin: 0 0 1em 0;
    font-size: 24px;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 1px; }
    .entry .entry-title a {
      color: #333333; }
      .entry .entry-title a:hover, .entry .entry-title a:focus {
        color: #005480; }
  .entry .entry-meta {
    padding-left: 0;
    list-style: none; }
    .entry .entry-meta li {
      float: left;
      font-size: 13px;
      line-height: 14px;
      margin: 0 10px 15px 0;
      color: #999999;
      font-style: italic; }
      .entry .entry-meta li a {
        color: #999999; }
        .entry .entry-meta li a:hover, .entry .entry-meta li a:focus {
          color: #005480; }
        .entry .entry-meta li a:before {
          content: '/';
          display: inline-block;
          margin-right: 10px;
          opacity: 0.5; }
        .entry .entry-meta li a:first-child::before {
          content: ''; }
      .entry .entry-meta li i {
        position: relative;
        top: 1px;
        font-size: 14px;
        margin-right: 3px; }
      .entry .entry-meta li:before {
        content: '/';
        display: inline-block;
        margin-right: 10px;
        opacity: 0.5; }
      .entry .entry-meta li:first-child::before {
        content: ''; }
  .entry .entry-content {
    line-height: 1.8; }

.gallery {
  padding: 0;
  margin: 0;
  list-style: none;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-flow: row wrap;
  -webkit-flex-flow: row wrap;
  justify-content: flex-start;
  align-items: center; }
  .gallery .gallery_thumb {
    display: inline-block;
    text-align: center;
    margin: 0 10px 10px 0; }
    .gallery .gallery_thumb a {
      text-decoration: none; }
      .gallery .gallery_thumb a img {
        max-width: 160px; }

/* Specific styling for blog index page */
.postcontent {
  display: block;
  position: relative;
  float: left;
  width: 75%;
  margin-bottom: 0; }
  @media (max-width: 1020px), (min-device-width: 250px) and (max-device-width: 1020px) {
    .postcontent {
      width: 100%;
      margin-right: 0;
      float: none;
      margin-bottom: 40px;
      padding-bottom: 40px;
      border-bottom: 1px solid #E6E6E6; } }
  .postcontent .post-timeline {
    position: relative;
    padding-left: 100px;
    margin-right: 0; }
    @media (max-width: 1020px), (min-device-width: 250px) and (max-device-width: 1020px) {
      .postcontent .post-timeline {
        padding-left: 0; } }
    .postcontent .post-timeline .timeline-border {
      position: absolute;
      left: 32px;
      top: 0;
      height: 100%;
      border-left: 1px dashed #E6E6E6; }
      @media (max-width: 1020px), (min-device-width: 250px) and (max-device-width: 1020px) {
        .postcontent .post-timeline .timeline-border {
          display: none; } }
    .postcontent .post-timeline .entry .entry-timeline {
      position: absolute;
      top: 20px;
      left: -100px;
      right: auto;
      width: 64px;
      height: 64px;
      font-size: 24px;
      font-weight: bold;
      color: #CCCCCC;
      text-align: center;
      border-radius: 50%;
      line-height: 1;
      display: block;
      border: 3px solid #CCCCCC;
      padding-top: 10px;
      text-indent: 0;
      -webkit-transition: all 0.3s ease-in-out;
      -moz-transition: all 0.3s ease-in-out;
      -o-transition: all 0.3s ease-in-out;
      transition: all 0.3s ease-in-out; }
      .postcontent .post-timeline .entry .entry-timeline span {
        display: block;
        margin-top: 3px;
        font-size: 13px;
        font-weight: normal; }
      .postcontent .post-timeline .entry .entry-timeline:hover {
        color: #005480;
        border-color: #005480; }
      .postcontent .post-timeline .entry .entry-timeline .timeline-divider {
        position: absolute;
        top: 29px;
        left: 64px;
        width: 32px;
        height: 0;
        border-top: 1px dashed #CCCCCC;
        -webkit-transition: all 0.3s ease-in-out;
        -moz-transition: all 0.3s ease-in-out;
        -o-transition: all 0.3s ease-in-out;
        transition: all 0.3s ease-in-out; }
      @media (max-width: 1020px), (min-device-width: 250px) and (max-device-width: 1020px) {
        .postcontent .post-timeline .entry .entry-timeline {
          display: none; } }
    .postcontent .post-timeline .entry .more-link {
      display: inline-block;
      border-bottom: 1px solid #005480;
      padding: 0 2px;
      font-style: italic; }

/* Specific styling for a single blog post page */
.single-post {
  margin-bottom: 0; }

/* Specific styling for tag page */
.blog-tags h2 {
  font-size: 2em; }
.blog-tags .anchor {
  display: block;
  height: 115px;
  /*same height as header*/
  margin-top: -115px;
  /*same height as header*/
  visibility: hidden; }
.blog-tags .entry-image {
  float: left;
  width: 300px;
  margin: 0 30px 0 0; }
  @media (max-width: 500px) {
    .blog-tags .entry-image {
      float: none;
      width: 100%; } }
  .blog-tags .entry-image .gallery img {
    width: 75px; }
  .blog-tags .entry-image iframe {
    width: 300px;
    height: 200px; }
.blog-tags .entry-c {
  position: relative;
  overflow: hidden;
  width: 350px; }
  @media (max-width: 500px) {
    .blog-tags .entry-c {
      overflow: visible;
      width: 100%; } }
  .blog-tags .entry-c .entry-title {
    font-size: 20px;
    font-weight: normal; }

.case-gallery .gallery_thumb a img {
  height: 200px;
  max-width: 300px;
  width: auto;
  border-radius: 6px;
  border: 1px solid #73AC39; }

.contact-page .col_one_fourth {
  display: block;
  position: relative;
  float: left;
  margin: 30px 0;
  padding: 0 10px; }
  @media (min-width: 1200px) {
    .contact-page .col_one_fourth {
      width: 23%; } }
  @media (max-width: 1020px), (min-device-width: 250px) and (max-device-width: 1020px) {
    .contact-page .col_one_fourth {
      width: 45%; } }
  @media (max-width: 500px) {
    .contact-page .col_one_fourth {
      width: 100%; } }
.contact-page .feature-box {
  border: 1px solid #E6E6E6;
  margin-top: 48px;
  padding: 68px 30px 30px;
  border-radius: 5px; }
  .contact-page .feature-box .fbox-icon {
    position: absolute;
    top: -48px;
    left: 50%;
    margin: 0 0 0 -48px; }
.contact-page .sd-map {
  text-align: center; }
  .contact-page .sd-map:hover, .contact-page .sd-map:focus {
    opacity: .8; }
.contact-page .row {
  margin-bottom: 5em; }

.home_page {
  /* Widths for this page only */
  /* Video Panel */
  /* Custom Carusel Styling */
  /* Our Process */ }
  .home_page #page-title {
    display: none; }
  .home_page #content {
    padding-top: 0; }
  .home_page .home_container {
    padding: 0 15px;
    margin: 0 auto; }
    @media (min-width: 768px) {
      .home_page .home_container {
        width: 750px; } }
    @media (min-width: 1020px) {
      .home_page .home_container {
        width: 970px; } }
    @media (min-width: 1200px) {
      .home_page .home_container {
        width: 1170px; } }
  .home_page #home-video {
    position: relative;
    width: 100%;
    overflow: hidden;
    transform: translate3d(0px, 0, 0);
    -webkit-transform: translate3d(0px, 0, 0); }
    @media (max-width: 500px) {
      .home_page #home-video {
        max-height: 175px; } }
    @media (min-width: 1020px) {
      .home_page #home-video {
        height: 450px; } }
    @media (min-width: 1200px) {
      .home_page #home-video {
        height: 500px; } }
    .home_page #home-video .video-caption {
      text-align: center;
      position: relative;
      max-width: 800px;
      margin: 100px auto 0;
      z-index: 20; }
      @media (max-width: 500px) {
        .home_page #home-video .video-caption {
          margin-top: 10px; } }
      @media (max-width: 1020px), (min-device-width: 250px) and (max-device-width: 1020px) {
        .home_page #home-video .video-caption {
          margin-top: 50px; } }
      .home_page #home-video .video-caption h2 {
        font-size: 64px;
        color: #FFFFFF;
        letter-spacing: 2px;
        margin-bottom: 30px;
        line-height: 1; }
        @media (max-width: 1020px), (min-device-width: 250px) and (max-device-width: 1020px) {
          .home_page #home-video .video-caption h2 {
            font-size: 36px; } }
        @media (max-width: 500px) {
          .home_page #home-video .video-caption h2 {
            font-size: 20px;
            margin-bottom: 0; } }
      .home_page #home-video .video-caption p {
        font-size: 24px;
        color: #FFFFFF;
        margin-bottom: 10px; }
        @media (max-width: 1020px), (min-device-width: 250px) and (max-device-width: 1020px) {
          .home_page #home-video .video-caption p {
            font-size: 18px;
            margin-bottom: 50px; } }
        @media (max-width: 500px) {
          .home_page #home-video .video-caption p {
            margin: 0;
            font-size: 14px; } }
    .home_page #home-video .video-wrap {
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      z-index: 5; }
      .home_page #home-video .video-wrap video {
        position: relative;
        z-index: 1;
        width: 100%; }
      .home_page #home-video .video-wrap .video-overlay {
        background-color: rgba(0, 0, 0, 0.2);
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        z-index: 5; }
  .home_page .promo {
    background-color: #F5F5F5;
    padding: 40px 0;
    position: relative;
    margin-bottom: 50px; }
    @media (max-width: 1020px), (min-device-width: 250px) and (max-device-width: 1020px) {
      .home_page .promo {
        padding: 20px 0; } }
    .home_page .promo .home_container {
      margin: 0 auto;
      padding: 0 15px; }
      .home_page .promo .home_container h3 {
        font-weight: bold;
        margin-bottom: 1em;
        line-height: 1.1; }
        @media (max-width: 500px) {
          .home_page .promo .home_container h3 {
            font-size: 20px; } }
  .home_page .owl-carousel {
    margin-bottom: 4em; }
    .home_page .owl-carousel .owl-stage-outer {
      padding-top: 1em;
      margin-left: 10%; }
      @media (max-width: 500px) {
        .home_page .owl-carousel .owl-stage-outer {
          margin-left: 0; } }
      .home_page .owl-carousel .owl-stage-outer .process-step {
        width: 33.3333%; }
        @media (max-width: 500px) {
          .home_page .owl-carousel .owl-stage-outer .process-step {
            width: 100%; } }
        .home_page .owl-carousel .owl-stage-outer .process-step .customNextBtn {
          font-size: 32px;
          color: #999999;
          text-align: center;
          display: inline;
          position: absolute;
          top: 1.1em;
          left: 60%; }
          @media (max-width: 500px) {
            .home_page .owl-carousel .owl-stage-outer .process-step .customNextBtn {
              left: 80%; } }
    .home_page .owl-carousel .owl-controls {
      display: none; }
  .home_page #content .container {
    min-width: 100%; }
  .home_page .block.features {
    margin: 2em auto;
    text-align: center; }
    .home_page .block.features hr {
      border-top: 2px solid #CCCCCC; }
    .home_page .block.features .title-divider {
      margin: 1em 0;
      text-align: center; }
    @media (max-width: 1020px), (min-device-width: 250px) and (max-device-width: 1020px) {
      .home_page .block.features .feature {
        margin-bottom: 2em; } }
    .home_page .block.features .feature .title {
      font-size: 16px;
      margin: .5em 0;
      text-transform: uppercase;
      line-height: 1;
      font-weight: bold; }
