#content {
  padding: 0;
  overflow: hidden;
}

.container {
  padding: 0 15px;
  margin: 0 auto;
  @include tablet {
    width: 750px;
  }
  @include desktop {
    width: 970px;
  }
  @include large {
    width: 1170px;
  }
}

.title-divider {
  color: $primary-colour !important;
  text-align: left;
  margin: 1em 0;
  span {
    font-weight: normal;
  }
}

.btn-primary {
  background-color: $primary-colour !important;
  color: $secondary-font-colour;
  border-color: $dark-blue;
  font-weight: bold;
  &:hover,
  &:focus {
    background-color: $dark-blue;
  }
}

ul {
  padding-left: 40px;
}

/* Blue and white circles on home and contact page */
.feature-box {
  padding: 0;
  text-align: center;
  position: relative;
  border-bottom: none;
  &:first-child {
    margin-top: 0;
  }
  .fbox-icon {
    position: relative;
    width: 96px;
    height: 96px;
    margin: 0 auto 30px;
    display: block;
    text-align: center;
    a, i {
      display: block;
      position: relative;
      width: 100%;
      height: 100%;
      color: $secondary-font-colour;
    }
    i {
      line-height: 94px;
      font-size: 42px;
      z-index: 1;
      font-style: normal;
      text-align: center;
      background-color: $primary-colour;
      background-image: url('/img/iconalt.svg');
      background-position: center center;
      background-size: 100% 100%;
      @include roundedCorners(58);
      border: none;
    }
  }
  h3 {
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 1px;
    margin-bottom: 0;
    color: $primary-font-colour;
    span.subtitle {
      display: block;
      margin-top: 5px;
      color: lighten($primary-font-colour, 10);;
      font-weight: 300;
      text-transform: none;
    }
  }
}
/* Animation on hover and focus */
.fbox-effect {
  &:hover .fbox-icon i {
    background-color: $icon-hover;
    color: $secondary-font-colour;
    &::after {
      @include scale(1);
      opacity: 1;
    }
  }
  .fbox-icon i {
    z-index: 1;
    &::after {
      pointer-events: none;
      position: absolute;
      width: 100%;
      height: 100%;
      @include roundedCorners(58);
      @include contentBox;
      top: -3px;
      left: -3px;
      padding: 3px;
      box-shadow: 0 0 0 2px $icon-hover;
      @include scale(0.8);
      @include transitionTransform(0.3);
      opacity: 0;
    }
    &:hover {
      background-color: $icon-hover;
      color: $secondary-font-colour;
      &::after {
        @include scale(1);
        opacity: 1;
      }
    }
  }
}


.fbox-effect .fbox-icon a:focus i {
  background-color: $icon-hover;
  color: $secondary-font-colour;
  &::after {
    @include scale(1);
    opacity: 1;
  }
}
