<div class="footer-blog">

  <div class="si-share clearfix">
    <span>Share this Post:</span>
    <div>
      <a href="https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fparse.com" target="_blank" class="social-icon si-borderless si-facebook">
        <i class="icon-facebook"></i>
        <i class="icon-facebook"></i>
      </a>
      <a href="https://twitter.com/intent/tweet?url=url={{ site.url }}{{ page.url }}&amp;text='Strategic Data Blog'" target="_blank" class="social-icon si-borderless si-twitter">
        <i class="icon-twitter"></i>
        <i class="icon-twitter"></i>
      </a>
      <a href="https://plus.google.com/share?url={{ site.url }}{{ page.url }}" target="_blank" class="social-icon si-borderless si-gplus">
        <i class="icon-gplus"></i>
        <i class="icon-gplus"></i>
      </a>
      <a href="{{ site.url }}atom.xml" target="_blank" class="social-icon si-borderless si-rss">
        <i class="icon-rss"></i>
        <i class="icon-rss"></i>
      </a>
    </div>
  </div>

  <div class="post-navigation">
    <a href="/2015/11/26/test4/">&lArr; This is a Standard post with a Gallery</a>
    <a href="/2016/02/16/test/" class="right">This is an Embedded Video Post &rArr;</a>
  </div>

  <div class="line"></div>

  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">Posted by <span><a href="#">John Doe</a></span></h3>
    </div>
    <div class="panel-body">
      <img src="/img/author/1.jpg" alt="" class="author-image img-circle">
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolores, eveniet, eligendi et nobis neque minus mollitia sit repudiandae ad repellendus recusandae blanditiis praesentium vitae ab sint earum voluptate velit beatae alias fugit accusantium laboriosam nisi reiciendis deleniti tenetur molestiae maxime id quaerat consequatur fugiat aliquam laborum nam aliquid. Consectetur, perferendis?
    </div>
  </div>

  <div class="line"></div>

  <h4>Related Posts:</h4>

  <div class="related-posts">
    {% for post in site.related_posts %}
    <div class="mpost">
      <a href="{{ post.url }}">
        <img class="entry-image" src="/img/blog/examplegallery/{{ forloop.index }}-thumb.jpg" alt="Blog Single">
      </a>
      <h4 class="entry-title">
        <a href="{{ post.url }}">{{ post.title }}</a>
      </h4>
      <ul class="entry-meta">
        <li><i class="icon-calendar3"></i>{{ post.day }}/{{ post.month }}/{{ post.year }}</li>
      </ul>
      <div class="entry-content">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Mollitia nisi perferendis.
      </div>
    </div>
      {% if forloop.index == 4 %}
        {% break %}
      {% endif %}
    {% endfor %}
  </div>
</div>
