<div class="footer-blog">

  <div class="si-share clearfix">
    <span>Share this Post:</span>
    <div>
      <a href="#" class="social-icon si-borderless si-facebook">
        <i class="icon-facebook"></i>
        <i class="icon-facebook"></i>
      </a>
      <a href="#" class="social-icon si-borderless si-twitter">
        <i class="icon-twitter"></i>
        <i class="icon-twitter"></i>
      </a>
      <a href="#" class="social-icon si-borderless si-gplus">
        <i class="icon-gplus"></i>
        <i class="icon-gplus"></i>
      </a>
      <a href="#" class="social-icon si-borderless si-rss">
        <i class="icon-rss"></i>
        <i class="icon-rss"></i>
      </a>
    </div>
  </div>

  <div class="post-navigation">
    <a href="/2015/11/26/test4/">&lArr; This is a Standard post with a Gallery</a>
    <a href="/2016/02/16/test/" class="right">This is an Embedded Video Post &rArr;</a>
  </div>

  <div class="line"></div>

  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">Posted by <span><a href="#">John Doe</a></span></h3>
    </div>
    <div class="panel-body">
      <img src="/img/author/1.jpg" alt="" class="author-image img-circle">
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolores, eveniet, eligendi et nobis neque minus mollitia sit repudiandae ad repellendus recusandae blanditiis praesentium vitae ab sint earum voluptate velit beatae alias fugit accusantium laboriosam nisi reiciendis deleniti tenetur molestiae maxime id quaerat consequatur fugiat aliquam laborum nam aliquid. Consectetur, perferendis?
    </div>
  </div>

  <div class="line"></div>

  <h4>Related Posts:</h4>

  <div class="related-posts">

    <div class="left_col">
      <div class="mpost">
        <a href="/2015/08/11/test2/">
          <img class="entry-image" src="/img/blog/examplegallery/8-thumb.jpg" alt="Blog Single">
        </a>
        <h4 class="entry-title">
          <a href="/2015/08/11/test2/">This is an Image Post</a>
        </h4>
        <ul class="entry-meta">
          <li><i class="icon-calendar3"></i>10th Feb 2016</li>
        </ul>
        <div class="entry-content">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Mollitia nisi perferendis.
        </div>
      </div>

      <div class="mpost">
        <a href="/2016/02/16/test/">
          <img class="entry-image" src="/img/blog/examplegallery/9-thumb.jpg" alt="Blog Single">
        </a>
        <h4 class="entry-title">
          <a href="/2016/02/16/test/">This is a Video Post</a>
        </h4>
        <ul class="entry-meta">
          <li><i class="icon-calendar3"></i>16th Feb 2016</li>
        </ul>
        <div class="entry-content">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Mollitia nisi perferendis.
        </div>
      </div>
    </div>

    <div class="right_col">
      <div class="mpost">
        <a href="/2015/11/26/test4/">
          <img class="entry-image" src="/img/blog/examplegallery/10-thumb.jpg" alt="Blog Single">
        </a>
        <h4 class="entry-title">
          <a href="/2015/11/26/test4/">This is a Gallery Post</a>
        </h4>
        <ul class="entry-meta">
          <li><i class="icon-calendar3"></i>9th March 2016</li>
        </ul>
        <div class="entry-content">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Mollitia nisi perferendis.
        </div>
      </div>

      <div class="mpost">
        <a href="/2016/01/30/test3/">
          <img class="entry-image" src="/img/blog/examplegallery/11-thumb.jpg" alt="Blog Single">
        </a>
        <h4 class="entry-title">
          <a href="/2016/01/30/test3/">This is a Quote Post</a>
        </h4>
        <ul class="entry-meta">
          <li><i class="icon-calendar3"></i>3rd March 2016</li>
        </ul>
        <div class="entry-content">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Mollitia nisi perferendis.
        </div>
      </div>
    </div>
  </div>
</div>
