<!--Customer testimonial-->
<div class="testimonials margin-top-large margin-bottom-large" id="testimonials">
  <h3 class="title-divider">What our clients say</h3>
  <div class="row">
    <div class="col-md-4">
      <blockquote>
        <p>"They are totally awesome, we couldn't imagine life without them!"</p>
        <footer>Client name<span class="spacer"> /</span> <a href="#">Company name</a>
        </footer>
      </blockquote>
    </div>
    <div class="col-md-4">
      <blockquote>
        <p>"They are totally awesome, we couldn't  imagine life without them!"</p>
        <footer>Client name<span class="spacer"> /</span> <a href="#">Company name</a>
        </footer>
      </blockquote>
    </div>
    <div class="col-md-4">
      <blockquote>
        <p>"They are totally awesome, we couldn't imagine life without them!"</p>
        <footer>Client name<span class="spacer"> /</span> <a href="#">Company name</a>
        </footer>
      </blockquote>
    </div>
  </div>
</div>
