<div class="footer-blog">
  <div class="tagcloud clearfix">
    <a href="#">general</a>
    <a href="#">videos</a>
    <a href="#">culture</a>
    <a href="#">technology</a>
    <a href="#">statistics</a>
    <a href="#">perl</a>
    <a href="#">angular</a>
    <a href="#">devops</a>
    <a href="#">community</a>
    <a href="#">development</a>
  </div>

  <div class="si-share clearfix">
    <span>Share this Post:</span>
    <div>
      <a href="#" class="social-icon si-borderless si-facebook">
        <i class="icon-facebook"></i>
        <i class="icon-facebook"></i>
      </a>
      <a href="#" class="social-icon si-borderless si-twitter">
        <i class="icon-twitter"></i>
        <i class="icon-twitter"></i>
      </a>
      <a href="#" class="social-icon si-borderless si-pinterest">
        <i class="icon-pinterest"></i>
        <i class="icon-pinterest"></i>
      </a>
      <a href="#" class="social-icon si-borderless si-gplus">
        <i class="icon-gplus"></i>
        <i class="icon-gplus"></i>
      </a>
      <a href="#" class="social-icon si-borderless si-rss">
        <i class="icon-rss"></i>
        <i class="icon-rss"></i>
      </a>
      <a href="#" class="social-icon si-borderless si-email3">
        <i class="icon-email3"></i>
        <i class="icon-email3"></i>
      </a>
    </div>
  </div>

  <div class="post-navigation">
    <a href="/blog/post-gallery.html">&lArr; This is a Standard post with a Gallery</a>
    <a href="/blog/post-video.html" class="right">This is an Embedded Video Post &rArr;</a>
  </div>

  <div class="line"></div>

  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">Posted by <span><a href="#">John Doe</a></span></h3>
    </div>
    <div class="panel-body">
      <img src="/img/author/1.jpg" alt="" class="author-image img-circle">
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolores, eveniet, eligendi et nobis neque minus mollitia sit repudiandae ad repellendus recusandae blanditiis praesentium vitae ab sint earum voluptate velit beatae alias fugit accusantium laboriosam nisi reiciendis deleniti tenetur molestiae maxime id quaerat consequatur fugiat aliquam laborum nam aliquid. Consectetur, perferendis?
    </div>
  </div>

  <div class="line"></div>

  <h4>Related Posts:</h4>

  <div class="related-posts">

    <div class="left_col">
      <div class="mpost">
        <a href="/blog/post-preview.html">
          <img class="entry-image" src="/img/blog/small/10.jpg" alt="Blog Single">
        </a>
        <h4 class="entry-title">
          <a href="/blog/post-preview.html">This is an Image Post</a>
        </h4>
        <ul class="entry-meta">
          <li><i class="icon-calendar3"></i> 10th July 2014</li>
        </ul>
        <div class="entry-content">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Mollitia nisi perferendis.
        </div>
      </div>

      <div class="mpost">
        <a href="/blog/post-video.html">
          <img class="entry-image" src="/img/blog/small/20.jpg" alt="Blog Single">
        </a>
        <h4 class="entry-title">
          <a href="/blog/post-video.html">This is a Video Post</a>
        </h4>
        <ul class="entry-meta">
          <li><i class="icon-calendar3"></i> 24th July 2014</li>
        </ul>
        <div class="entry-content">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Mollitia nisi perferendis.
        </div>
      </div>
    </div>

    <div class="right_col">
      <div class="mpost">
        <a href="/blog/post-gallery.html">
          <img class="entry-image" src="/img/blog/small/21.jpg" alt="Blog Single">
        </a>
        <h4 class="entry-title">
          <a href="/blog/post-gallery.html">This is a Gallery Post</a>
        </h4>
        <ul class="entry-meta">
          <li><i class="icon-calendar3"></i> 8th Aug 2014</li>
        </ul>
        <div class="entry-content">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Mollitia nisi perferendis.
        </div>
      </div>

      <div class="mpost">
        <a href="/blog/post-quote.html">
          <img class="entry-image" src="/img/blog/small/22.jpg" alt="Blog Single">
        </a>
        <h4 class="entry-title">
          <a href="/blog/post-quote.html">This is a Quote Post</a>
        </h4>
        <ul class="entry-meta">
          <li><i class="icon-calendar3"></i> 22nd Aug 2014</li>
        </ul>
        <div class="entry-content">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Mollitia nisi perferendis.
        </div>
      </div>
    </div>
  </div>
</div>
