{% for gallery in site.data.galleries %}
  {% if gallery.id == include.variable-param %}
  <div class="entry-image">
    <ul class="gallery">
    {% for image in gallery.images %}
      <li class="gallery_thumb">
        <a href="{{ gallery.imagefolder }}/{{ image.name }}" class="html5lightbox" title="{{ image.text }}" data-group="{{ gallery.id }}" data-thumbnail="{{ gallery.imagefolder }}/{{ image.thumb }}">
          <img src="{{ gallery.imagefolder }}/{{ image.thumb }}" alt="{{ image.text }}">
        </a>
      </li>
    {% endfor %}
    </ul>
  </div>
  {% endif %}
{% endfor %}
