<!-- Header
============================================= -->
<header id="header" class="full-header">

  <div id="header-wrap">

    <div class="container clearfix">

      <div id="primary-menu-trigger"><i class="icon-reorder"></i></div>

      <!-- Logo
      ============================================= -->
      <div id="logo">
        <a href="/" class="standard-logo">
          <img src="/img/logo.png" alt="Canvas Logo">
        </a>
      </div><!-- #logo end -->

      <!-- Primary Navigation
      ============================================= -->
      <nav id="primary-menu">

        <ul>
          <li class="current"><a href="/"><div>Home</div></a>
          </li>
          <li><a href="/what/"><div>What we do</div></a>
          </li>
          <li><a href="/about/"><div>About</div></a>
          </li>
          <li><a href="/cases/"><div>Case studies</div></a>
          </li>
          <li><a href="/blog/"><div>Blog</div></a>
          </li>
          <li><a href="/contact/"><div>Contact</div></a>
          </li>
        </ul>
        <!-- Top Search
        ============================================= -->
        <div id="top-search">
          <a href="#" id="top-search-trigger"><i class="icon-search3"></i><i class="icon-line-cross"></i></a>
          <form action="search.html" method="get">
            <input type="text" name="q" class="form-control" value="" placeholder="Type &amp; Hit Enter..">
          </form>
        </div><!-- #top-search end -->

      </nav><!-- #primary-menu end -->

    </div>

  </div>

</header><!-- #header end -->
