<!-- ======== @Region: #navigation ======== -->
<div id="navigation" class="wrapper">
  <div class="navbar-static-top">
    <!--Header upper region-->
    <div class="header-upper">
      <div class="header-upper-inner container">
    </div>
  </div>
  <!--Header & Branding region-->
  <div class="header">
    <div class="header-inner container">
      <div class="navbar">
        <div class="pull-left logo-box">
          <!--branding/logo-->
           <!--branding/logo-->
          <a class="navbar-brand" href="index.htm" title="Home">
            <h1>
            <img src="img/SD-logo-main.png" class="img-responsive" width="471" height="67" alt="Web Survey"> </h1>
          </a>
          <div class="slogan">The <em>intelligent</em> application of information technology</div>
        </div>
      <!-- mobile collapse menu button - data-toggle="toggle" = default BS menu - data-toggle="jpanel-menu" = jPanel Menu -->
      <a href="#top" class="navbar-btn" data-toggle="jpanel-menu" data-target=".navbar-collapse" data-direction="right"><i class="fa fa-bars"></i></a>
      <!--everything within this div is collapsed on mobile-->
      <div class="navbar-collapse collapse">
        <!--main navigation-->
        <ul class="nav navbar-nav">
          <li class="home-link active">
            <a href="/"><i class="fa fa-home"></i><span class="hidden">Home</span></a>
          </li>
          <li class="dropdown">
            <a href="/what/index.html">What we do</a>
          </li>
         <li class="dropdown">
            <a href="/about/index.html">About</a>
          </li>
          <li class="dropdown">
            <a href="/cases/index.html">Case Studies</a>
          </li>
           <li class="dropdown">
            <a href="/blog/index.html">Blog</a> </li>
          <li class="dropdown">
            <a href="/contact/index.html">Contact</a>
          </li>
        </ul>
      </div>
      <!--/.navbar-collapse -->
    </div>
  </div>
</div>
