<div class="sidebar-blog">

  <div class="tabs" id="sidebar-tabs">
    <ul class="blog-tab-nav clearfix">
      <li>
        <a href="#/tabs-1" class="tab-link current">Popular</a>
      </li>
      <li>
        <a href="#/tabs-2" class="tab-link">Recent</a>
      </li>
    </ul>

    <div class="tab-container">
      <div class="tab-content current" id="tabs-1">
        <div class="spost">
          <a href="/2015/08/11/test2/" class="entry-image">
            <img class="img-circle" src="/img/blog/examplegallery/3-thumb.jpg" alt="">
          </a>
          <h4 class="entry-title">
            <a href="/2015/08/11/test2/">Post Preview</a>
          </h4>
          <ul class="entry-meta">
            <li>10th Feb 2016</li>
          </ul>
        </div>
        <div class="spost">
          <a href="/2016/02/16/test/" class="entry-image">
            <img class="img-circle" src="/img/blog/examplegallery/2-thumb.jpg" alt="">
          </a>
          <h4 class="entry-title">
            <a href="/2016/02/16/test/">Post Video</a>
          </h4>
          <ul class="entry-meta">
            <li>16th Feb 2016</li>
          </ul>
        </div>
      </div>

      <div class="tab-content" id="tabs-2">
        <div class="spost">
          <a href="/2016/01/30/test3/" class="entry-image">
            <img class="img-circle" src="/img/blog/examplegallery/1-thumb.jpg" alt="">
          </a>
          <h4 class="entry-title">
            <a href="/2016/01/30/test3/">Post Quote</a>
          </h4>
          <ul class="entry-meta">
            <li>3rd March 2016</li>
          </ul>
        </div>
        <div class="spost">
          <a href="/2015/11/26/test4/" class="entry-image">
            <img class="img-circle" src="/img/blog/examplegallery/2-thumb.jpg" alt="">
          </a>
          <h4 class="entry-title">
            <a href="/2015/11/26/test4/">Post Gallery</a>
          </h4>
          <ul class="entry-meta">
            <li>9th March 2016</li>
          </ul>
        </div>
      </div>
    </div>
  </div>

  <div class="tags">
    <h4>Tag Cloud</h4>
    <div class="tagcloud">
      <a href="#">general</a>
      <a href="#">videos</a>
      <a href="#">culture</a>
      <a href="#">technology</a>
      <a href="#">statistics</a>
      <a href="#">perl</a>
      <a href="#">angular</a>
      <a href="#">devops</a>
      <a href="#">community</a>
      <a href="#">development</a>
    </div>
  </div>

</div>
