<div class="col-md-3 sidebar">
  <div class="section-menu">
    <ul class="nav nav-list">
      <li {% if page.url == "/about/" %} class="active" {% endif %}>
        <a href="/about/" class="first">
          History and People
          <small>More about our people and history</small>
          <i class="fa fa-angle-right"></i>
        </a>
      </li>
      <li {% if page.url == "/about/security/" %} class="active" {% endif %}>
        <a href="/about/security/" class="first">
          Security, privacy &amp; data protection
          <small>Commitment to security and privacy</small>
          <i class="fa fa-angle-right"></i>
        </a>
      </li>
      <li {% if page.url == "/about/partners/" %} class="active" {% endif %}>
        <a href="/about/partners/" class="first">
          Our Partners
          <small>Partners of Strategic Data</small>
          <i class="fa fa-angle-right"></i>
        </a>
      </li>
      <li {% if page.url == "/about/itcommunity/" %} class="active" {% endif %}>
        <a href="/about/itcommunity/" class="first">
          Activity in the IT community
          <small>Our IT community activity</small>
          <i class="fa fa-angle-right"></i>
        </a>
      </li>
     <li {% if page.url == "/about/sustainability/" %} class="active" {% endif %}>
        <a href="/about/sustainability/" class="first">
          Sustainability focus
          <small>Our sustainability efforts</small>
          <i class="fa fa-angle-right"></i>
        </a>
      </li>
      <li {% if page.url == "/about/employment/" %} class="active" {% endif %}>
        <a href="/about/employment/" class="first">
          Employment
          <small>Employment opportunities at Strategic Data</small>
          <i class="fa fa-angle-right"></i>
        </a>
      </li>
    </ul>
  </div>
</div>
