<div class="col-md-3 sidebar">
  <div class="section-menu">
    <ul class="nav nav-list">
      <li {% if page.url == "/cases/" %} class="active" {% endif %}>
        <a href="/cases/" class="first">
          Industry Data Tool
          <small>Client: Outdoor Power Equipment Association (OPEA)</small>
          <i class="fa fa-angle-right"></i>
        </a>
      </li>
      <li {% if page.url == "/cases/datasets/" %} class="active" {% endif %}>
        <a href="/cases/datasets/" class="first">
          Unlocking and uniting Australia’s cultural datasets
          <small>Client: Deakin University</small>
          <i class="fa fa-angle-right"></i>
        </a>
      </li>
      <li {% if page.url == "/cases/validation/" %} class="active" {% endif %}>
        <a href="/cases/validation/" class="first">
          Online data validation
          <small>Client: The Australian Mental Health Outcomes and Classification Network (AMHOCN)</small>
          <i class="fa fa-angle-right"></i>
        </a>
      </li>
      <li {% if page.url == "/cases/performance/" %} class="active" {% endif %}>
        <a href="/cases/performance/" class="first">
          Development of performance management system
          <small>Client: National Australia Bank (NAB)</small>
          <i class="fa fa-angle-right"></i>
        </a>
      </li>
      <li {% if page.url == "/cases/reports/" %} class="active" {% endif %}>
        <a href="/cases/reports/" class="first">
          Report generation from multiple data sources
          <small>Client: Government of Australia</small>
          <i class="fa fa-angle-right"></i>
        </a>
      </li>
     <li {% if page.url == "/cases/monitoring/" %} class="active" {% endif %}>
        <a href="/cases/monitoring/" class="first">
          Program monitoring and evaluation system
          <small>Clients: Federal Department of Health; University of Melbourne</small>
          <i class="fa fa-angle-right"></i>
        </a>
      </li>
    </ul>
  </div>
</div>
