<div class="col-md-3 sidebar">
  <div class="section-menu">
    <ul class="nav nav-list">
      <li {% if include.param == "cases" %} class="active" {% endif %}>
        <a href="/cases/" class="first">
          Industry Data Tool
          <small>Client: Outdoor Power Equipment Association (OPEA)</small>
          <i class="fa fa-angle-right"></i>
        </a>
      </li>
      <li {% if include.param == "validation" %} class="active" {% endif %}>
        <a href="/cases/validation/" class="first">
          Online data validation
          <small>Client: The Australian Mental Health Outcomes and Classification Network (AMHOCN)</small>
          <i class="fa fa-angle-right"></i>
        </a>
      </li>
      <li {% if include.param == "performance" %} class="active" {% endif %}>
        <a href="/cases/performance/" class="first">
          Performance management system creation
          <small>Client: National Australia Bank (NAB)</small>
          <i class="fa fa-angle-right"></i>
        </a>
      </li>
      <li {% if include.param == "reports" %} class="active" {% endif %}>
        <a href="/cases/reports/" class="first">
          Report generation from multiple data sources
          <small>Client: Government of Australia</small>
          <i class="fa fa-angle-right"></i>
        </a>
      </li>
     <li {% if include.param == "monitoring" %} class="active" {% endif %}>
        <a href="/cases/monitoring/" class="first">
          Program monitoring and evaluation system
          <small>Clients: Federal Department of Health; University of Melbourne</small>
          <i class="fa fa-angle-right"></i>
        </a>
      </li>
    </ul>
  </div>
</div>
