.partner-brand {
  margin: 2em 0;
  a {
    padding: 0;
    height: auto;
    height: 45px\9;
    width: 200px\9;
    &:hover>img,
    &:focus>img {
      @include opacity(0.8);
    }
  }
  .slogan {
    color: $secondary-colour;
    margin: 15px 0 10px .5em;
    display: inline-block;
    width: 60%;
    @include desktop {
      margin: 20px 0 0 1em;
    }
    @include tablet {
      margin: 20px 0 0 1em;
      padding: 12px 0 8px 1em;
      border-left: 1px solid $border-grey;
    }
  }
}
