/* Generic class styling for all blog pages */
.entry {
  position: relative;
  width: 100%;
  padding-bottom: 50px;
  margin-bottom: 50px;
  border-bottom: 2px solid $border-light-grey;
  .entry-image {
    margin-bottom: 30px;
    @include roundedCorners(3);
    display: block;
    width: 100%;
    height: auto;
    iframe {
      @include mobile {
        width: 90%;
        height: 90%;
      }
    }
  }
  .entry-title {
    margin: 0 0 1em 0;
    font-size: 24px;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 1px;
    a {
      color: $primary-font-colour;
      &:hover,
      &:focus {
        color: $primary-colour;
      }
    }
  }
  .entry-meta {
    padding-left: 0;
    list-style: none;
    li {
      float: left;
      font-size: 13px;
      line-height: 14px;
      margin: 0 10px 15px 0;
      color: $secondary-colour;
      font-style: italic;
      a {
        color: $secondary-colour;
        &:hover,
        &:focus {
          color: $primary-colour;
        }
        &:before {
          content: '/';
          display: inline-block;
          margin-right: 10px;
          opacity: 0.5;
        }
        &:first-child::before {
          content: '';
        }
      }
      i {
        position: relative;
        top: 1px;
        font-size: 14px;
        margin-right: 3px;
      }
      &:before {
        content: '/';
        display: inline-block;
        margin-right: 10px;
        opacity: 0.5;
      }
      &:first-child::before {
        content: '';
      }
    }
  }
  .entry-content {
    line-height: 1.8;
  }
}

.gallery {
  padding: 0;
  margin: 0;
  list-style: none;
  @include flexbox(row);
  justify-content: flex-start;
  align-items: center;
  .gallery_thumb {
    display: inline-block;
    text-align: center;
    margin: 0 10px 10px 0;
    a {
      text-decoration: none;
      img {
        max-width: 160px;
      }
    }
  }
}

/* Specific styling for blog index page */
.postcontent {
  display: block;
  position: relative;
  float: left;
  width: 75%;
  margin-bottom: 0;
  @include responsive {
    width: 100%;
    margin-right: 0;
    float: none;
    margin-bottom: 40px;
    padding-bottom: 40px;
    border-bottom: 1px solid $border-grey;
  }
  .post-timeline {
    position: relative;
    padding-left: 100px;
    margin-right: 0;
    @include responsive {
      padding-left: 0;
    }
    .timeline-border {
      position: absolute;
      left: 32px;
      top: 0;
      height: 100%;
      border-left: 1px dashed $border-grey;
      @include responsive {
        display: none;
      }
    }
    .entry {
      .entry-timeline {
        position: absolute;
        top: 20px;
        left: -100px;
        right: auto;
        width: 64px;
        height: 64px;
        font-size: 24px;
        font-weight: bold;
        color: $blog-timeline;
        text-align: center;
        border-radius: 50%;
        line-height: 1;
        display: block;
        border: 3px solid $blog-timeline;
        padding-top: 10px;
        text-indent: 0;
        @include transitionAll(0.3);
        span {
          display: block;
          margin-top: 3px;
          font-size: 13px;
          font-weight: normal;
        }
        &:hover {
          color: $primary-colour;
          border-color: $primary-colour;
        }
        .timeline-divider {
          position: absolute;
          top: 29px;
          left: 64px;
          width: 32px;
          height: 0;
          border-top: 1px dashed $blog-timeline;
          @include transitionAll(0.3);
        }
        @include responsive {
          display: none;
        }
      }
      .more-link {
        display: inline-block;
        border-bottom: 1px solid $primary-colour;
        padding: 0 2px;
        font-style: italic;
      }
    }
  }
}

/* Specific styling for a single blog post page */
.single-post {
  margin-bottom: 0;
}

/* Specific styling for tag page */
.blog-tags {
  h2 {
    font-size: 2em;
  }
  .anchor{
    display: block;
    height: 115px; /*same height as header*/
    margin-top: -115px; /*same height as header*/
    visibility: hidden;
  }
  .entry-image {
    float: left;
    width: 300px;
    margin: 0 30px 0 0;
    @include mobile {
      float: none;
      width: 100%;
    }
    .gallery img {
      width: 75px;
    }
    iframe {
      width: 300px;
      height: 200px;
    }
  }
  .entry-c {
    position: relative;
    overflow: hidden;
    width: 350px;
    @include mobile {
      overflow: visible;
      width: 100%;
    }
    .entry-title {
      font-size: 20px;
      font-weight: normal;
    }
  }
}
