.single-post {
  margin-bottom: 0;
}
.entry {
  position: relative;
  width: 100%;
  padding-bottom: 50px;
  margin-bottom: 50px;
  border-bottom: 2px solid $border-light-grey;
  .entry-image {
    margin-bottom: 30px;
    @include roundedCorners(3);
    display: block;
    width: 100%;
    height: auto;
  }
  .entry-title {
    margin: 0;
    font-size: 24px;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 1px;
    a {
      color: $primary-font-colour;
      &:hover,
      &:focus {
        color: $primary-colour;
      }
    }
  }
  .entry-meta {
    /*margin: 10px -10px -15px 0;*/
    padding-left: 0;
    list-style: none;
    li {
      float: left;
      font-size: 13px;
      line-height: 14px;
      margin: 0 10px 15px 0;
      color: $secondary-colour;
      font-style: italic;
      a {
        color: $secondary-colour;
        &:hover,
        &:focus {
          color: $primary-colour;
        }
      }
      i {
        position: relative;
        top: 1px;
        font-size: 14px;
        margin-right: 3px;
      }
      &:before {
        content: '/';
        display: inline-block;
        margin-right: 10px;
        opacity: 0.5;
      }
      &:first-child::before {
        content: '';
      }
    }
  }
  .entry-content {
    line-height: 1.8;
  }
}
