.gallery {
  padding: 0;
  margin: 0;
  list-style: none;
  @include flexbox(row);
  justify-content: flex-start;
  align-items: center;
  .gallery_thumb {
    display: inline-block;
    text-align: center;
    margin: 0 10px 10px 0;
    a {
      text-decoration: none;
      img {
        max-width: 160px;
      }
    }
  }
}
