.contact-page {
  .col_one_half {
    display: block;
    position: relative;
    float: left;
    margin: 30px 0;
    padding: 0 10px;
    width: 45%;
    @include responsive {
      width: 100%;
    }
    @include mobile {
      width: 100%;
    }
  }

  .feature-box {
    border: 1px solid $border-grey;
    margin-top: 48px;
    padding: 68px 30px 30px;
    border-radius: 5px;
    .fbox-icon {
      position: absolute;
      top: -48px;
      left: 50%;
      margin: 0 0 0 -48px;
    }
  }

  .sd-map {
    text-align: center;
    &:hover,
    &:focus {
      opacity: .8;
    }
  }

  .row {
    margin-bottom: 5em;
  }
}
