.contact-page {
  .col_one_fourth {
    margin-right: 0;
    display: block;
    position: relative;
    float: left;
    margin-bottom: 30px;
    width: 22%;
    @include mobile {
      width: 100%;
    }
  }

  .sd-map {
    text-align: center;
  }

  .row {
    margin-bottom: 5em;
  }
}
