$large-screen:       1200px;
$desktop-width:      1020px;
$responsive-width:    768px;
$mobile-width:        500px;

@mixin large {
  @media (min-width: #{$large-screen}) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: #{$desktop-width}) {
    @content;
  }
}

@mixin tablet {
  @media (min-width: #{$responsive-width}) {
    @content;
  }
}

@mixin responsive {
  @media (max-width: #{$desktop-width}), (min-device-width: 250px) and (max-device-width: #{$desktop-width}) {
    @content;
  }
}

@mixin mobile {
  @media (max-width: #{$mobile-width}) {
    @content;
  }
}

@mixin roundedCorners($size) {
  -webkit-border-radius: $size + px;
     -moz-border-radius: $size + px;
          border-radius: $size + px;
}

@mixin boxShadow($size, $colour) {
  -webkit-box-shadow: $size + px $size + px $size + px $colour;
     -moz-box-shadow: $size + px $size + px $size + px $colour;
          box-shadow: $size + px $size + px $size + px $colour;
}

@mixin rotating($angle){
  -webkit-transform: rotate($angle + deg);
     -moz-transform: rotate($angle + deg);
          transform: rotate($angle + deg);
}

@mixin transitionHeight($time) {
  -webkit-transition: height $time + s ease;
     -moz-transition: height $time + s ease;
       -o-transition: height $time + s ease;
          transition: height $time + s ease;
}

@mixin transitionOpacity($time) {
  -webkit-transition: opacity $time + s ease;
     -moz-transition: opacity $time + s ease;
       -o-transition: opacity $time + s ease;
          transition: opacity $time + s ease;
}

@mixin transitionAll($time) {
  -webkit-transition: all $time + s ease-in-out;
     -moz-transition: all $time + s ease-in-out;
       -o-transition: all $time + s ease-in-out;
          transition: all $time + s ease-in-out;
}

@mixin transitionTransform($time) {
  -webkit-transition: -webkit-transform $time + s, opacity $time + s;
     -moz-transition: -moz-transform $time + s, opacity $time + s;
       -o-transition: -o-transform $time + s, opacity $time + s;
          transition: transform $time + s, opacity $time + s;
}

@mixin scale($ratio) {
  -webkit-transform: scale(ratio);
     -moz-transform: scale(ratio);
      -ms-transform: scale(ratio);
          transform: scale(ratio);
}

@mixin contentBox {
            content: '';
  -webkit-box-sizing: content-box;
     -moz-box-sizing: content-box;
          box-sizing: content-box;
}

@mixin flexbox($orientation) {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-flow: $orientation wrap;
  -webkit-flex-flow: $orientation wrap;
}

@mixin clearfix {
  &::before,
  &::after {
    content: " ";
    display: table;
    clear: both;
  }
}

@mixin opacity($opacity) {
  opacity: $opacity;
  $opacity-ie: $opacity * 100;
  filter: alpha(opacity=$opacity-ie); //IE8
}
