$large-screen:       1200px;
$desktop-width:       992px;
$responsive-width:    768px;

@mixin large {
  @media (min-width: #{$large-screen}) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: #{$desktop-width}) {
    @content;
  }
}

@mixin tablet {
  @media (min-width: #{$responsive-width}) {
    @content;
  }
}

@mixin responsive {
  @media only screen and (max-width: #{$responsive-width}), (min-device-width: 250px) and (max-device-width: #{$responsive-width}) {
    @content;
  }
}

@mixin roundedCorners($size) {
  -webkit-border-radius: $size + px;
     -moz-border-radius: $size + px;
          border-radius: $size + px;
}

@mixin boxShadow($size, $colour) {
  -webkit-box-shadow: $size + px $size + px $size + px $colour;
     -moz-box-shadow: $size + px $size + px $size + px $colour;
          box-shadow: $size + px $size + px $size + px $colour;
}

@mixin rotating($angle){
  -webkit-transform: rotate($angle + deg);
     -moz-transform: rotate($angle + deg);
          transform: rotate($angle + deg);
}
