/* Shades */
$white:             #FFFFFF;
$mostly-white:      #F8F8F8;
$grey:              #999999;
$warm-grey:         #A29A84;
$very-dark-grey:    #333333;
$mostly-black:      #242424;

/* Colours */
$dark-blue:         #193F70;
$aqua:              #2EAEB7;
$light-blue:        #8BABBB;
$red:               #B11F24;
$yellow:            #FFBD35;

/* Typography */
$open-sans-family: "Open Sans",Arial,serif;

/* Default Styling */
$primary-font:          $open-sans-family;
$primary-font-colour:   $very-dark-grey;
$primary-colour:        $dark-blue;
$secondary-colour:      $grey;       
