/* Shades */
$white:             #FFFFFF;
$mostly-white:      #F5F5F5;
$very-light-grey:   #E6E6E6;
$light-grey:        #CCCCCC;
$grey:              #999999;
$red-grey: rgba(27,27,27,0.7);
$warm-grey:         #A29A84;
$very-dark-grey:    #333333;
$mostly-black:      #242424;

/* Colours */
$very-dark-blue:    #193F70;
$dark-blue:         #005480;
$aqua:              #2EAEB7;
$light-blue:        #8BABBB;
$red:               #B11F24;
$ws-red:            #98002E;
$yellow:            #FFBD35;

/* Typography */
$open-sans-family:  "Open Sans",Arial,serif;
$raleway-family:    'Raleway', sans-serif;

/* Default Styling */
$primary-font:          $open-sans-family;
$header-font:           $raleway-family;
$primary-font-colour:   $very-dark-grey;
$secondary-font-colour: $white;
$primary-colour:        $dark-blue;
$secondary-colour:      $grey;
$body-background:       $white;
$border-grey:           $very-light-grey;
$promo-bg:              $mostly-white;
$sidebar-font:          $red-grey;
$sidebar-bg:            $mostly-white;
$sidebar-bg-hover:      $very-light-grey;
$footer-background:     $light-grey;
$icon-hover:            $very-dark-grey;
