---
title: Blog - Strategic Data
page-name: blog
page-subtitle: Out Latest News
galleryid: gallery1
---

<h2 class="title-divider">Timeline</h2>
<div class="row">
  <div class="postcontent">
    <div class="post-timeline">
      <div class="timeline-border"></div>

      {% for post in site.posts %}
      <div class="entry">
        <div class="entry-timeline">
          {{ post.day }}<span>{{ post.month }}</span>
          <div class="timeline-divider"></div>
        </div>

        {% if post.photo_url %}
          <img class="entry-image" src="/img/blog/{{post.photo_url}}" alt="{{ post.title }}">
        {% elsif post.video_url %}
          <div class="entry-image">
            <iframe src="{{post.video_url}}" width="500" height="281" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
          </div>
        {% elsif post.quote %}
          <blockquote class="entry-image">
            <p>{{ post.quote }}</p>
            <footer>{{ post.quote-author }}</footer>
          </blockquote>
        {% elsif post.gallery %}
          {% include gallery.html variable-param=post.gallery %}
        {% endif %}

        <h2 class="entry-title"><a href="{{ post.url }}">{{ post.title }}</a></h2>

        <ul class="entry-meta clearfix">
          <li>
            <i class="icon-tags"></i>
            {% for tag in post.tags %}
              <a href="#">{{ tag }}</a>
            {% endfor %}
          </li>
        </ul>
        <p class="entry-content">
          {{ post.description }}
        </p>
        <a href="{{ post.url }}"class="more-link">Read More</a>
      </div>
      {% endfor %}
    </div>
  </div>
{% include sidebar_blog.html %}
</div>
