.footer-blog {
  .si-share {
    position: relative;
    padding-left: 5px;
    span {
      line-height: 36px;
      font-weight: bold;
      font-size: 13px;
    }
    div {
      float: right;
    }
    .social-icon {
      transition: all .3s ease;
      margin: -1px 0;
      border-radius: 0;
      font-size: 15px;
      width: 40px;
      height: 40px;
      line-height: 38px;
      color: $light-primary-font;
      overflow: hidden;
      display: block;
      float: left;
      text-align: center;
      cursor: pointer;
      font-style: normal;
      &:hover,
      &:focus {
        color: $secondary-font-colour;
        i:first-child {
          margin-top: -38px;
        }

      }
      &.si-facebook {
        &:hover,
        &:focus {
          background-color: $facebook-blue;
        }
      }
      &.si-twitter {
        &:hover,
        &:focus {
          background-color: $twitter-blue;
        }
      }
      &.si-gplus {
        &:hover,
        &:focus {
          background-color: $gplus-red;
        }
      }
      &.si-rss {
        &:hover,
        &:focus {
          background-color: $rss-orange;
        }
      }
      i {
        transition: all .3s ease;
        display: block;
        position: relative;
        &:last-child {
          color: $secondary-font-colour;
        }
      }
    }
  }
  .line {
    margin: 40px 0 50px;
    position: relative;
    width: 100%;
    border-top: 1px solid $blog-timeline;
  }
  .author-image {
    float: left;
    width: 84px;
    height: 84px;
    margin-right: 15px;
  }
  .related-posts {
    .mpost {
      position: relative;
      display: inline-block;
      width: 48%;
      &:nth-child(even) {
        float: right;
      }
      .entry-image {
        margin-right: 20px;
        width: 170px;
        height: 128px;
        float: left;
      }
      .entry-title {
        font-size: 17px;
        margin-bottom: 5px;
      }
      .entry-meta {
        li {
          float: none;
        }
      }
      .entry-content {
        margin: 25px 0;
        position: relative;
      }
    }
  }
}
