/* Tab styling */
.sidebar-blog {
  float: right;
  display: block;
  position: relative;
  width: 240px;
  margin-bottom: 0;
  margin-top: 1.5em;
  @include responsive {
    float: none;
    width: 100%;
  }
  #sidebar-tabs {
    margin: 0 0 30px;
    @include responsive {
      float: left;
      width: 45%;
      margin-right: 3%;
    }
    .blog-tab-nav {
      margin: 0;
      padding: 0;
      list-style: none;
      border-bottom: 1px solid $border-grey;
      @include clearfix;
      li {
        &:first-child {
          margin-left: 15px;
        }
      }
      .tab-link {
        float: left;
        border: 1px solid $border-grey;
        border-bottom: 0;
        height: 40px;
        line-height: 40px;
        text-align: center;
        display: block;
        padding: 0 15px;
        background-color: $sidebar-bg;
        color: $primary-font-colour;
        font-size: 14px;
        font-weight: bold;
        cursor: pointer;
        margin-left: 0;
        &:first-child {
          border-left: 1px solid $border-grey;
        }
        &.current {
          background-color: $body-background;
          border-bottom: 1px solid $body-background;
        }
      }
    }
    .tab-container {
      position: relative;
      padding: 20px 0 0;
      .tab-content{
        display: none;
        padding: 15px;
        &.current {
          display: inherit;
        }
        .spost {
          border-top: 1px dashed $border-grey;
          height: 48px;
          margin-top: 20px;
          padding-top: 20px;
          &:first-child {
            border-top: 0;
            margin-top: 0;
            padding-top: 0;
          }
          .entry-image {
            width: 48px;
            height: 48px;
            float: left;
            margin: 0 15px 0 0;
            text-align: center;
            display: block;
            position: relative;
            img {
              width: 48px;
              height: 48px;
              &.img-circle {
                border-radius: 50%;
              }
            }
          }
          .entry-title {
            margin: 0;
            font-size: 14px;
            font-weight: bold;
            a {
              color: $primary-font-colour;
            }
          }
          .entry-meta {
            margin: 8px -10px 0 0;
            list-style: none;
            li {
              font-size: 13px;
              margin: 0 10px 0 0;
              float: left;
              line-height: 14px;
              color: $secondary-colour;
              font-style: italic;
            }
          }
        }
      }
    }
  }
  /* Tag styling */
  .tags {
    position: relative;
    margin-top: 50px;
    @include responsive {
      display: inline-block;
      width: 45%;
    }
    .tagcloud a {
      transition: all 0.3s ease-in-out;
      display: block;
      float: left;
      margin: 0 4px 4px 0;
      padding: 3px 6px;
      border: 1px solid $border-grey;
      font-size: 13px;
      color: $primary-font-colour;
      @include roundedCorners(2);
      &:hover,
      &:focus {
        color: $primary-colour;
        border-color: $primary-colour;
      }
    }
  }
}
