---
layout: default
title: Blog Post - Strategic Data
---

<h2 class="title-divider"></span>
  <small>
    <a class="blog-list" href="/blog/"><i class="fa fa-arrow-left"></i> Back to Blog</a>
  </small>
</h2>

<div class="row">
  <div class="postcontent">
    <div class="single-post">
      <div class="entry">
        <h2 class="entry-title">{{ page.title }}</h2>
        <ul class="entry-meta clearfix">
          <li><i class="icon-calendar3"></i>{{ page.day }} / {{ page.month }} / {{ page.year }}</li>
          <li>
            <i class="icon-tags"></i>
            {% for tag in page.tags %}
              <a href="/blog/tags#{{ tag }}">{{ tag }}</a>
            {% endfor %}
          </li>
        </ul>

        {% if page.photo_url %}
          <img class="entry-image" src="/img/blog/{{page.photo_url}}" alt="{{ page.title }}">
        {% elsif page.video_url %}
          <div class="entry-image">
            <iframe src="{{page.video_url}}" width="500" height="281" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
          </div>
        {% elsif page.quote %}
          <blockquote class="entry-image">
            <p>{{ page.quote }}</p>
            <footer>{{ page.quote-author }}</footer>
          </blockquote>
        {% elsif page.gallery %}
          {% include gallery.html variable-param=page.gallery %}
        {% endif %}

        <div class="entry-content">
          {{ content }}
          {% include footer_blog.html %}
        </div>
      </div>
    </div>
  </div>
{% include sidebar_blog.html %}
</div>
