---
title: Case Studies - Strategic Data
page-name: case studies
gallery: opea-gallery
---
{% include sidebar_cases.html param="cases" %}

<div class="col-md-9">
  <h3>Industry Data Tool</h3>
  <h4>Client: Outdoor Power Equipment Association</h4>
  <h4>Deliverable: Sales Monitoring Tool</h4>
  <h5 class="margin-top-lg">Problem:</h5>
  <p>The Outdoor Power Equipment Association (OPEA) collected sales data from its contributing members via spreadsheet.  The data was then manually manipulated into report format and distributed to each member. The process was time-consuming and prone to errors.  OPEA required a secure automated online data collection tool to collect and report sales data across the industry.
  The tool needed to be capable of:</p>
  <ul>
    <li>Secure collection of monthly data from subscribing companies by product category and sub groups.</li>
    <li>Consolidation of collected data into a monthly contributor report showing current month sales, year to date sales totals, and 12-month average sales for each product category.</li>
    <li>Generating a tailored industry report including a market summary overview to all subscribing companies enabling organisations to monitor their monthly performance against the industry as a whole.</li>
  </ul>
  <h5>Solution:</h5>
  <p>Strategic Data built a sales monitoring application that allows members to upload monthly sales figures, automatically ensuring the datafile conforms to the agreed specification. The application consolidates the member data in industry-wide summaries, and presents tailored reports back to the member. Messy existing data was merged and cleaned into the agreed format in order to prepare the system for subsequent time series comparison with later data. Contributing members are assured that the data they load is secure and confidential.</p>
  <h5>Results:</h5>
  <p>Strategic Data’s Industry Data Tool provides a secure and confidential platform for the submission and reporting of industry data. </p>
  <p>The new system has been operating for 12 months. During that time there has been a substantial improvement in the degree of completion and data accuracy. The demands made of OPEA’s support staff have diminished as the system has automatically rejected non-compliant data while instantly providing specific feedback about what has caused it to fail. Over the months that the tool has been in place contributors have found it increasingly easy to resolve issues themselves. Strategic Data has provided any necessary helpdesk support, ensuring that OPEA support staff no longer has to be involved with the cycle of reviewing data, identifying errors, contacting contributors, explaining issues and re-combining the datasets. In addition, the instant feedback provided by the validation system significantly speeds up the process of ensuring errors are identified and addressed.</p>
  <div class="case-gallery">
    {% include gallery.html variable-param=page.gallery %}
  </div>
</div>
