body,
html {
  font-family: $primary-font;
  color: $primary-font-colour;
  font-size: 14px;
  line-height: 1.42857143;
}

h2 {
  font-size: 1.4em;
  font-weight: 600;
  line-height: 1.1;
  text-transform: uppercase;
  span {
    color: $warm-grey;
  }
}

h3 {
  color: $primary-font-colour;
  font-size: 24.5px;
}

h4 {
  font-size: 1.1em;
  line-height: 1;
  text-transform: uppercase;
  font-weight: bold;
  color: $ws-red;
}

h5 {
  font-size: 1em;
  font-weight: bold;
}

p {
  color: $primary-font-colour;
  font-size: 1em;
  margin-bottom: 15px;
}

ul, ol {
  color: $primary-font-colour;
}

a {
  color: $primary-colour;
  text-decoration: none !important;
  &:hover,
  &:focus {
    color: darken($primary-colour, 20);
    text-decoration: none !important;
  }
}

h2, strong {
  color: $red-grey;
}
